In [39]:
# Data from statsapi

#Dependencies 
import pandas as pd
import requests
import json
import statsapi

In [40]:
# testing api pull
print(statsapi.league_leaders('triples',statGroup='hitting',limit=10,sportId=1,statType='career',season=2000*2020) )

Rank Name                 Team                    Value
 1   Sam Crawford         Detroit Tigers           309
 2   Ty Cobb              Philadelphia Athletics   297
 3   Honus Wagner                                  252
 4   Jake Beckley                                  243
 5   Roger Connor                                  233
 6   Tristram Speaker     Washington Senators      222
 7   Fred Clarke                                   220
 8   Dan Brouthers                                 205
 9   Joe Kelley                                    194
 10  Paul Waner           New York Yankees         191

In [41]:
team_url= 'https://www.baseball-reference.com/about/team_IDs.shtml'
team_table = pd.read_html(team_url)
team_df = team_table[0]
team_df.columns = ['Franchise ID','Team ID','Full Team Name','First Year','Last Year']
team_df.head()

   Franchise ID  Team ID                 Full Team Name  First Year  Last Year
0  Franchise ID  Team ID                 Full Team Name  First Year  Last Year
1           ALT      ALT          Altoona Mountain City        1884       1884
2           ANA      ANA  Los Angeles Angels of Anaheim        1997    Present
3           ANA      CAL              California Angels        1965       1996
4           ANA      LAA             Los Angeles Angels        1961       1964

In [42]:
state_code=team_df[team_df['Last Year'] == 'Present' ]
print(state_code)
state_code.count()

    Franchise ID Team ID                 Full Team Name First Year Last Year
2            ANA     ANA  Los Angeles Angels of Anaheim       1997   Present
5            ARI     ARI           Arizona Diamondbacks       1998   Present
7            ATL     ATL                 Atlanta Braves       1966   Present
10           BAL     BAL              Baltimore Orioles       1954   Present
21           BOS     BOS                 Boston Red Sox       1901   Present
33           CHC     CHC                   Chicago Cubs       1876   Present
36           CHW     CHW              Chicago White Sox       1901   Present
37           CIN     CIN                Cincinnati Reds       1882   Present
39           CLE     CLE              Cleveland Indians       1901   Present
46           COL     COL               Colorado Rockies       1993   Present
49           DET     DET                 Detroit Tigers       1901   Present
53           FLA     MIA                  Miami Marlins       2012   Present
56           HOU     HOU                 Houston Astros       1962   Present
63           KCR     KCR             Kansas City Royals       1969   Present
67           LAD     LAD            Los Angeles Dodgers       1958   Present
72           MIL     MIL              Milwaukee Brewers       1970   Present
74           MIN     MIN                Minnesota Twins       1961   Present
85           NYM     NYM                  New York Mets       1962   Present
89           NYY     NYY               New York Yankees       1903   Present
91           OAK     OAK              Oakland Athletics       1968   Present
97           PHI     PHI          Philadelphia Phillies       1883   Present
101          PIT     PIT             Pittsburgh Pirates       1882   Present
110          SDP     SDP               San Diego Padres       1969   Present
111          SEA     SEA               Seattle Mariners       1977   Present
113          SFG     SFG           San Francisco Giants       1958   Present
118          STL     STL            St. Louis Cardinals       1882   Present
123          TBD     TBR                 Tampa Bay Rays       2008   Present
124          TEX     TEX                  Texas Rangers       1972   Present
128          TOR     TOR              Toronto Blue Jays       1977   Present
137          WSN     WSN           Washington Nationals       2005   Present

Franchise ID      30
Team ID           30
Full Team Name    30
First Year        30
Last Year         30
dtype: int64

In [43]:
stcode=state_code['Franchise ID']
w=stcode.values.tolist()
len(w)

30

In [44]:
confirmed_team=[]
team=[]
for code in w:
    try:
        team.append(statsapi.lookup_team(code)[0]['id'])
        confirmed_team.append(statsapi.lookup_team(code)[0]['teamCode'])
        print(statsapi.lookup_team(code)[0]['id'])
    #print(statsapi.lookup_team(code))
    except:
          print("An exception occurred")
print(confirmed_team)

108
136
144
110
111
112
An exception occurred
113
114
115
116
An exception occurred
117
An exception occurred
143
158
142
121
147
133
143
134
An exception occurred
136
An exception occurred
138
An exception occurred
140
141
An exception occurred
['ana', 'sea', 'atl', 'bal', 'bos', 'chn', 'cin', 'cle', 'col', 'det', 'hou', 'phi', 'mil', 'min', 'nyn', 'nya', 'oak', 'phi', 'pit', 'sea', 'sln', 'tex', 'tor']

In [45]:
for code in w:
    statsapi.lookup_team(code)
    print(statsapi.lookup_team(code))

[{'id': 108, 'name': 'Los Angeles Angels', 'teamCode': 'ana', 'fileCode': 'ana', 'teamName': 'Angels', 'locationName': 'Anaheim', 'shortName': 'LA Angels'}]
[{'id': 136, 'name': 'Seattle Mariners', 'teamCode': 'sea', 'fileCode': 'sea', 'teamName': 'Mariners', 'locationName': 'Seattle', 'shortName': 'Seattle'}, {'id': 109, 'name': 'Arizona Diamondbacks', 'teamCode': 'ari', 'fileCode': 'ari', 'teamName': 'D-backs', 'locationName': 'Phoenix', 'shortName': 'Arizona'}]
[{'id': 144, 'name': 'Atlanta Braves', 'teamCode': 'atl', 'fileCode': 'atl', 'teamName': 'Braves', 'locationName': 'Atlanta', 'shortName': 'Atlanta'}]
[{'id': 110, 'name': 'Baltimore Orioles', 'teamCode': 'bal', 'fileCode': 'bal', 'teamName': 'Orioles', 'locationName': 'Baltimore', 'shortName': 'Baltimore'}]
[{'id': 111, 'name': 'Boston Red Sox', 'teamCode': 'bos', 'fileCode': 'bos', 'teamName': 'Red Sox', 'locationName': 'Boston', 'shortName': 'Boston'}]
[{'id': 112, 'name': 'Chicago Cubs', 'teamCode': 'chn', 'fileCode': 'chc', 'teamName': 'Cubs', 'locationName': 'Chicago', 'shortName': 'Chi Cubs'}]
[]
[{'id': 113, 'name': 'Cincinnati Reds', 'teamCode': 'cin', 'fileCode': 'cin', 'teamName': 'Reds', 'locationName': 'Cincinnati', 'shortName': 'Cincinnati'}]
[{'id': 114, 'name': 'Cleveland Indians', 'teamCode': 'cle', 'fileCode': 'cle', 'teamName': 'Indians', 'locationName': 'Cleveland', 'shortName': 'Cleveland'}]
[{'id': 115, 'name': 'Colorado Rockies', 'teamCode': 'col', 'fileCode': 'col', 'teamName': 'Rockies', 'locationName': 'Denver', 'shortName': 'Colorado'}]
[{'id': 116, 'name': 'Detroit Tigers', 'teamCode': 'det', 'fileCode': 'det', 'teamName': 'Tigers', 'locationName': 'Detroit', 'shortName': 'Detroit'}]
[]
[{'id': 117, 'name': 'Houston Astros', 'teamCode': 'hou', 'fileCode': 'hou', 'teamName': 'Astros', 'locationName': 'Houston', 'shortName': 'Houston'}]
[]
[{'id': 143, 'name': 'Philadelphia Phillies', 'teamCode': 'phi', 'fileCode': 'phi', 'teamName': 'Phillies', 'locationName': 'Philadelphia', 'shortName': 'Philadelphia'}]
[{'id': 158, 'name': 'Milwaukee Brewers', 'teamCode': 'mil', 'fileCode': 'mil', 'teamName': 'Brewers', 'locationName': 'Milwaukee', 'shortName': 'Milwaukee'}]
[{'id': 142, 'name': 'Minnesota Twins', 'teamCode': 'min', 'fileCode': 'min', 'teamName': 'Twins', 'locationName': 'Minneapolis', 'shortName': 'Minnesota'}]
[{'id': 121, 'name': 'New York Mets', 'teamCode': 'nyn', 'fileCode': 'nym', 'teamName': 'Mets', 'locationName': 'Flushing', 'shortName': 'NY Mets'}]
[{'id': 147, 'name': 'New York Yankees', 'teamCode': 'nya', 'fileCode': 'nyy', 'teamName': 'Yankees', 'locationName': 'Bronx', 'shortName': 'NY Yankees'}]
[{'id': 133, 'name': 'Oakland Athletics', 'teamCode': 'oak', 'fileCode': 'oak', 'teamName': 'Athletics', 'locationName': 'Oakland', 'shortName': 'Oakland'}]
[{'id': 143, 'name': 'Philadelphia Phillies', 'teamCode': 'phi', 'fileCode': 'phi', 'teamName': 'Phillies', 'locationName': 'Philadelphia', 'shortName': 'Philadelphia'}]
[{'id': 134, 'name': 'Pittsburgh Pirates', 'teamCode': 'pit', 'fileCode': 'pit', 'teamName': 'Pirates', 'locationName': 'Pittsburgh', 'shortName': 'Pittsburgh'}]
[]
[{'id': 136, 'name': 'Seattle Mariners', 'teamCode': 'sea', 'fileCode': 'sea', 'teamName': 'Mariners', 'locationName': 'Seattle', 'shortName': 'Seattle'}]
[]
[{'id': 138, 'name': 'St. Louis Cardinals', 'teamCode': 'sln', 'fileCode': 'stl', 'teamName': 'Cardinals', 'locationName': 'St. Louis', 'shortName': 'St. Louis'}]
[]
[{'id': 140, 'name': 'Texas Rangers', 'teamCode': 'tex', 'fileCode': 'tex', 'teamName': 'Rangers', 'locationName': 'Arlington', 'shortName': 'Texas'}]
[{'id': 141, 'name': 'Toronto Blue Jays', 'teamCode': 'tor', 'fileCode': 'tor', 'teamName': 'Blue Jays', 'locationName': 'Toronto', 'shortName': 'Toronto'}]
[]