In [13]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import create_engine, inspect, func
from sqlalchemy.orm import Session
import pandas as pd

from config import userName, password

#engine = create_engine(os.environ.get('DATABASE_URL', ''))
engine = create_engine(f'postgresql://{userName}:{password}@localhost:5432/baseball')


Base = automap_base()
Base.prepare(engine, reflect=True)

inspector = inspect(engine)
inspector.get_table_names()

['batters', 'pitchers']

In [14]:
battersQuery = "SELECT * from batters"

battersDF = battersDF = pd.read_sql_query(battersQuery, engine)

In [15]:
battersDF

,player,ba00,ba01,ba02,ba03,ba04,ba05,ba06,ba07,ba08,...,mlbmid,firstname,lastname,birthdate,team,jersey,birthcity,birthstate,birthcountry,prodebut
0,Luis Castillo,0.334,0.263,0.305,0.314,0.291,0.301,0.296,0.301,0.245,...,622491.0,Luis,Castillo,1992-12-12 00:00:00,CIN,58.0,Bani,None,Dominican Republic,2017-06-23
1,Delino DeShields,0.296,0.234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,592261.0,Delino,DeShields,1992-08-16 00:00:00,CLE,0.0,Easton,MD,USA,2015-04-08
2,Albert Pujols,NaN,0.329,0.314,0.359,0.331,0.330,0.331,0.327,0.357,...,405395.0,Albert,Pujols,1980-01-16 03:00:00,LAA,5.0,Santo Domingo,None,Dominican Republic,2001-04-02
3,Miguel Cabrera,NaN,NaN,NaN,0.268,0.294,0.323,0.339,0.320,0.292,...,408234.0,Miguel,Cabrera,1983-04-18 04:00:00,DET,24.0,Maracay,None,Venezuela,2003-06-20
4,Yadier Molina,NaN,NaN,NaN,NaN,NaN,0.252,0.216,0.275,0.304,...,425877.0,Yadier,Molina,1982-07-13 00:00:00,STL,4.0,Bayamon,None,Puerto Rico,2004-06-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,Eddie Rosario,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,592696.0,Eddie,Rosario,1991-09-28 03:00:00,MIN,20.0,Guayama,None,Puerto Rico,2015-05-06
138,James McCann,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,543510.0,James,McCann,1990-06-13 00:00:00,CHW,33.0,Santa Barbara,CA,USA,2014-09-01
139,J.T. Realmuto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,592663.0,J.T.,Realmuto,1991-03-18 03:00:00,PHI,10.0,Del City,OK,USA,2014-06-05
140,Tucker Barnhart,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,571466.0,Tucker,Barnhart,1991-01-07 03:00:00,CIN,16.0,Indianapolis,IN,USA,2014-04-03
141,Joc Pederson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,592626.0,Joc,Pederson,1992-04-21 00:00:00,LAD,31.0,Palo Alto,CA,USA,2014-09-01

In [16]:
pitchersQuery = "SELECT * from pitchers"

pitchersDF = pd.read_sql_query(pitchersQuery, engine)