In [1]:
import pandas as pd

In [2]:
# JSON from https://sportsdata.io/
df = pd.read_json('https://api.sportsdata.io/v3/mlb/scores/json/Players?key=6e47361b5deb4bf58f081aa3176c932e')

In [3]:
df.to_csv('api_data/original_json.csv')
df

,PlayerID,SportsDataID,Status,TeamID,Team,Jersey,PositionCategory,Position,MLBAMID,FirstName,...,YahooName,GlobalTeamID,FantasyDraftName,FantasyDraftPlayerID,Experience,UsaTodayPlayerID,UsaTodayHeadshotUrl,UsaTodayHeadshotNoBackgroundUrl,UsaTodayHeadshotUpdated,UsaTodayHeadshotNoBackgroundUpdated
0,10000001,,Active,3,TOR,22.0,P,SP,502624.0,Chase,...,Chase Anderson,10000003,Chase Anderson,501567.0,6.0,6885964.0,http://cdn.usatsimg.com/api/download/?imageID=...,http://cdn.usatsimg.com/api/download/?imageID=...,2020-02-21T19:29:41,2020-07-13T12:16:44
1,10000004,,Active,15,SF,53.0,P,SP,502239.0,Trevor,...,Trevor Cahill,10000015,Trevor Cahill,326540.0,11.0,6877982.0,http://cdn.usatsimg.com/api/download/?imageID=...,http://cdn.usatsimg.com/api/download/?imageID=...,2020-02-18T22:30:14,2020-07-13T10:53:08
2,10000005,,Active,9,CHC,39.0,P,RP,605177.0,Andrew,...,Andrew Chafin,10000009,Andrew Chafin,597763.0,6.0,6878800.0,http://cdn.usatsimg.com/api/download/?imageID=...,http://cdn.usatsimg.com/api/download/?imageID=...,2020-02-21T19:54:37,2020-07-09T20:25:49
3,10000006,,Minors,26,ATL,55.0,P,RP,518567.0,Josh,...,Josh Collmenter,10000026,Josh Collmenter,871588.0,7.0,NaN,None,None,None,None
4,10000007,,Active,35,WSH,46.0,P,SP,571578.0,Patrick,...,Patrick Corbin,10000035,Patrick Corbin,500846.0,7.0,6881123.0,http://cdn.usatsimg.com/api/download/?imageID=...,http://cdn.usatsimg.com/api/download/?imageID=...,2020-02-21T17:51:01,2020-07-13T12:08:20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6466,10011895,,Minors,22,MIA,NaN,OF,OF,NaN,Andre,...,None,10000022,None,NaN,NaN,NaN,None,None,None,None
6467,10011896,,Minors,33,SD,NaN,P,P,NaN,Wilton,...,None,10000033,None,NaN,NaN,NaN,None,None,None,None
6468,10011897,,Minors,3,TOR,NaN,P,P,NaN,Geison,...,None,10000003,None,NaN,NaN,NaN,None,None,None,None
6469,10011898,,Minors,3,TOR,NaN,P,P,NaN,Johan,...,None,10000003,None,NaN,NaN,NaN,None,None,None,None
6470,10011899,,Minors,3,TOR,NaN,P,P,NaN,Kendry,...,None,10000003,None,NaN,NaN,NaN,None,None,None,None

In [4]:
df.columns

Index(['PlayerID', 'SportsDataID', 'Status', 'TeamID', 'Team', 'Jersey',
       'PositionCategory', 'Position', 'MLBAMID', 'FirstName', 'LastName',
       'BatHand', 'ThrowHand', 'Height', 'Weight', 'BirthDate', 'BirthCity',
       'BirthState', 'BirthCountry', 'HighSchool', 'College', 'ProDebut',
       'Salary', 'PhotoUrl', 'SportRadarPlayerID', 'RotoworldPlayerID',
       'RotoWirePlayerID', 'FantasyAlarmPlayerID', 'StatsPlayerID',
       'SportsDirectPlayerID', 'XmlTeamPlayerID', 'InjuryStatus',
       'InjuryBodyPart', 'InjuryStartDate', 'InjuryNotes', 'FanDuelPlayerID',
       'DraftKingsPlayerID', 'YahooPlayerID', 'UpcomingGameID', 'FanDuelName',
       'DraftKingsName', 'YahooName', 'GlobalTeamID', 'FantasyDraftName',
       'FantasyDraftPlayerID', 'Experience', 'UsaTodayPlayerID',
       'UsaTodayHeadshotUrl', 'UsaTodayHeadshotNoBackgroundUrl',
       'UsaTodayHeadshotUpdated', 'UsaTodayHeadshotNoBackgroundUpdated'],
      dtype='object')

In [5]:
df.drop(df.columns.difference([ 'MLBAMID', 'FirstName', 'LastName','BirthDate','Team', 'Jersey', 'BirthCity','BirthState', 'BirthCountry', 
                               'ProDebut']),1, inplace=True)

In [6]:
df

,Team,Jersey,MLBAMID,FirstName,LastName,BirthDate,BirthCity,BirthState,BirthCountry,ProDebut
0,TOR,22.0,502624.0,Chase,Anderson,1987-11-30T00:00:00,Wichita Falls,TX,USA,2014-05-11T00:00:00
1,SF,53.0,502239.0,Trevor,Cahill,1988-03-01T00:00:00,Oceanside,CA,USA,2009-04-07T00:00:00
2,CHC,39.0,605177.0,Andrew,Chafin,1990-06-17T00:00:00,Kettering,OH,USA,2014-08-13T00:00:00
3,ATL,55.0,518567.0,Josh,Collmenter,1986-02-07T00:00:00,Marshall,MI,USA,None
4,WSH,46.0,571578.0,Patrick,Corbin,1989-07-19T03:00:00,Clay,NY,USA,2012-04-30T00:00:00
...,...,...,...,...,...,...,...,...,...,...
6466,MIA,NaN,NaN,Andre,Arthur,None,None,None,None,None
6467,SD,NaN,NaN,Wilton,Castillo,None,None,None,None,None
6468,TOR,NaN,NaN,Geison,Urbaez,None,None,None,None,None
6469,TOR,NaN,NaN,Johan,Simón,None,None,None,None,None
6470,TOR,NaN,NaN,Kendry,Rojas,None,None,None,None,None

In [7]:
# take a slice of df for those with an official MLBAMID

mlb_players = df[df.MLBAMID.notnull()]

In [8]:
mlb_players

,Team,Jersey,MLBAMID,FirstName,LastName,BirthDate,BirthCity,BirthState,BirthCountry,ProDebut
0,TOR,22.0,502624.0,Chase,Anderson,1987-11-30T00:00:00,Wichita Falls,TX,USA,2014-05-11T00:00:00
1,SF,53.0,502239.0,Trevor,Cahill,1988-03-01T00:00:00,Oceanside,CA,USA,2009-04-07T00:00:00
2,CHC,39.0,605177.0,Andrew,Chafin,1990-06-17T00:00:00,Kettering,OH,USA,2014-08-13T00:00:00
3,ATL,55.0,518567.0,Josh,Collmenter,1986-02-07T00:00:00,Marshall,MI,USA,None
4,WSH,46.0,571578.0,Patrick,Corbin,1989-07-19T03:00:00,Clay,NY,USA,2012-04-30T00:00:00
...,...,...,...,...,...,...,...,...,...,...
6440,TEX,NaN,656641.0,Jake,Latz,1996-04-08T00:00:00,Lemont,Illinois,United States,None
6441,ATL,NaN,682016.0,William,Woods,None,None,None,None,None
6442,LAA,NaN,680721.0,William,Holmes,None,None,None,None,None
6444,BAL,NaN,682722.0,Isaac,De Leon,2001-11-07T00:00:00,Santo Domingo,None,Dominican Republic,None
6446,BAL,NaN,691650.0,Victor,Gonzalez,None,None,None,None,None

In [9]:
mlb = pd.DataFrame(mlb_players)
mlb['PLAYER'] = mlb["FirstName"] + " " + mlb["LastName"]
mlb

,Team,Jersey,MLBAMID,FirstName,LastName,BirthDate,BirthCity,BirthState,BirthCountry,ProDebut,PLAYER
0,TOR,22.0,502624.0,Chase,Anderson,1987-11-30T00:00:00,Wichita Falls,TX,USA,2014-05-11T00:00:00,Chase Anderson
1,SF,53.0,502239.0,Trevor,Cahill,1988-03-01T00:00:00,Oceanside,CA,USA,2009-04-07T00:00:00,Trevor Cahill
2,CHC,39.0,605177.0,Andrew,Chafin,1990-06-17T00:00:00,Kettering,OH,USA,2014-08-13T00:00:00,Andrew Chafin
3,ATL,55.0,518567.0,Josh,Collmenter,1986-02-07T00:00:00,Marshall,MI,USA,None,Josh Collmenter
4,WSH,46.0,571578.0,Patrick,Corbin,1989-07-19T03:00:00,Clay,NY,USA,2012-04-30T00:00:00,Patrick Corbin
...,...,...,...,...,...,...,...,...,...,...,...
6440,TEX,NaN,656641.0,Jake,Latz,1996-04-08T00:00:00,Lemont,Illinois,United States,None,Jake Latz
6441,ATL,NaN,682016.0,William,Woods,None,None,None,None,None,William Woods
6442,LAA,NaN,680721.0,William,Holmes,None,None,None,None,None,William Holmes
6444,BAL,NaN,682722.0,Isaac,De Leon,2001-11-07T00:00:00,Santo Domingo,None,Dominican Republic,None,Isaac De Leon
6446,BAL,NaN,691650.0,Victor,Gonzalez,None,None,None,None,None,Victor Gonzalez

In [10]:
mlb.columns
cols = ['MLBAMID', 'PLAYER','FirstName', 'LastName','BirthDate','Team', 'Jersey','BirthCity','BirthState', 'BirthCountry', 
                               'ProDebut']

In [11]:
mlb=mlb[cols]
mlb

,MLBAMID,PLAYER,FirstName,LastName,BirthDate,Team,Jersey,BirthCity,BirthState,BirthCountry,ProDebut
0,502624.0,Chase Anderson,Chase,Anderson,1987-11-30T00:00:00,TOR,22.0,Wichita Falls,TX,USA,2014-05-11T00:00:00
1,502239.0,Trevor Cahill,Trevor,Cahill,1988-03-01T00:00:00,SF,53.0,Oceanside,CA,USA,2009-04-07T00:00:00
2,605177.0,Andrew Chafin,Andrew,Chafin,1990-06-17T00:00:00,CHC,39.0,Kettering,OH,USA,2014-08-13T00:00:00
3,518567.0,Josh Collmenter,Josh,Collmenter,1986-02-07T00:00:00,ATL,55.0,Marshall,MI,USA,None
4,571578.0,Patrick Corbin,Patrick,Corbin,1989-07-19T03:00:00,WSH,46.0,Clay,NY,USA,2012-04-30T00:00:00
...,...,...,...,...,...,...,...,...,...,...,...
6440,656641.0,Jake Latz,Jake,Latz,1996-04-08T00:00:00,TEX,NaN,Lemont,Illinois,United States,None
6441,682016.0,William Woods,William,Woods,None,ATL,NaN,None,None,None,None
6442,680721.0,William Holmes,William,Holmes,None,LAA,NaN,None,None,None,None
6444,682722.0,Isaac De Leon,Isaac,De Leon,2001-11-07T00:00:00,BAL,NaN,Santo Domingo,None,Dominican Republic,None
6446,691650.0,Victor Gonzalez,Victor,Gonzalez,None,BAL,NaN,None,None,None,None

In [12]:
# Filtering out players with a ProDebut
pro = mlb[mlb.ProDebut.notnull()]
pro

,MLBAMID,PLAYER,FirstName,LastName,BirthDate,Team,Jersey,BirthCity,BirthState,BirthCountry,ProDebut
0,502624.0,Chase Anderson,Chase,Anderson,1987-11-30T00:00:00,TOR,22.0,Wichita Falls,TX,USA,2014-05-11T00:00:00
1,502239.0,Trevor Cahill,Trevor,Cahill,1988-03-01T00:00:00,SF,53.0,Oceanside,CA,USA,2009-04-07T00:00:00
2,605177.0,Andrew Chafin,Andrew,Chafin,1990-06-17T00:00:00,CHC,39.0,Kettering,OH,USA,2014-08-13T00:00:00
4,571578.0,Patrick Corbin,Patrick,Corbin,1989-07-19T03:00:00,WSH,46.0,Clay,NY,USA,2012-04-30T00:00:00
8,543339.0,Daniel Hudson,Daniel,Hudson,1987-03-09T03:00:00,WSH,44.0,Lynchburg,VA,USA,2009-09-04T00:00:00
...,...,...,...,...,...,...,...,...,...,...,...
5409,596825.0,Robel García,Robel,García,1993-03-28T00:00:00,CIN,16.0,Las Matas de Farfan,None,Dominican Republic,2019-07-03T00:00:00
5466,664054.0,Cody Stashak,Cody,Stashak,1994-06-04T00:00:00,MIN,61.0,Somers Point,NJ,USA,2019-07-23T00:00:00
5490,677976.0,Randy Dobnak,Randy,Dobnak,1995-01-17T03:00:00,MIN,68.0,South Park,PA,USA,2019-08-09T00:00:00
5521,621086.0,James Marvel,James,Marvel,1993-09-17T03:00:00,PIT,74.0,San Francisco,CA,USA,2019-09-08T00:00:00
5562,650668.0,Humberto Mejía,Humberto,Mejía,1997-03-03T00:00:00,ARI,62.0,Panama City,None,Panama,2020-08-07T00:00:00

In [13]:
pro.to_csv('api_data/munged_api.csv')