In [1]:
import pandas as pd

In [3]:
batting = pd.read_csv('merged_data/UPDATED_merged_batting_data_10.13.2020.csv')
batting.columns

Index(['Unnamed: 0_x', 'PLAYER', 'YRS00', 'BA00', 'Unnamed: 0_y', 'YRS01',
       'BA01', 'Unnamed: 0_x.1', 'YRS02', 'BA02', 'Unnamed: 0_y.1', 'YRS03',
       'BA03', 'Unnamed: 0_x.2', 'YRS04', 'BA04', 'Unnamed: 0_y.2', 'YRS05',
       'BA05', 'Unnamed: 0_x.3', 'YRS06', 'BA06', 'Unnamed: 0_y.3', 'YRS07',
       'BA07', 'Unnamed: 0_x.4', 'YRS08', 'BA08', 'Unnamed: 0_y.4', 'YRS09',
       'BA09', 'Unnamed: 0_x.5', 'YRS10', 'BA10', 'Unnamed: 0_y.5', 'YRS11',
       'BA11', 'Unnamed: 0_x.6', 'YRS12', 'BA12', 'Unnamed: 0_y.6', 'YRS13',
       'BA13', 'Unnamed: 0_x.7', 'YRS14', 'BA14', 'Unnamed: 0_y.7', 'YRS15',
       'BA15', 'Unnamed: 0_x.8', 'YRS16', 'BA16', 'Unnamed: 0_y.8', 'YRS17',
       'BA17', 'Unnamed: 0_x.9', 'YRS18', 'BA18', 'Unnamed: 0_y.9', 'YRS19',
       'BA19'],
      dtype='object')

In [4]:
# Drop all columns except the following

batting.drop(batting.columns.difference(['PLAYER','YRS00', 'YRS01', 'YRS02', 'YRS03', 'YRS04', 'YRS05',
       'YRS06', 'YRS07','YRS08', 'YRS09', 'YRS10', 'YRS11', 'YRS12', 'YRS13',
       'YRS14', 'YRS15','YRS16', 'YRS17', 'YRS18', 'YRS19']),1, inplace=True)

In [5]:
batting.head()

,PLAYER,YRS00,YRS01,YRS02,YRS03,YRS04,YRS05,YRS06,YRS07,YRS08,...,YRS10,YRS11,YRS12,YRS13,YRS14,YRS15,YRS16,YRS17,YRS18,YRS19
0,Nomar Garciaparra,14.0,NaN,14.0,14.0,14.0,14.0,14.0,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Todd Helton,17.0,17.0,17.0,17.0,17.0,17.0,17.0,17.0,17.0,...,17.0,17.0,17.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Moises Alou,17.0,17.0,17.0,17.0,17.0,17.0,17.0,17.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Darin Erstad,14.0,14.0,14.0,14.0,14.0,14.0,NaN,14.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Manny Ramirez,19.0,19.0,19.0,19.0,19.0,19.0,19.0,19.0,19.0,...,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
batting['count'] = batting.count(axis=1)

In [12]:
# players need to have played at least 5 years within window
df = batting[batting['count']>= 6]
df

,PLAYER,YRS00,YRS01,YRS02,YRS03,YRS04,YRS05,YRS06,YRS07,YRS08,...,YRS11,YRS12,YRS13,YRS14,YRS15,YRS16,YRS17,YRS18,YRS19,count
0,Nomar Garciaparra,14.0,NaN,14.0,14.0,14.0,14.0,14.0,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
1,Todd Helton,17.0,17.0,17.0,17.0,17.0,17.0,17.0,17.0,17.0,...,17.0,17.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,15
2,Moises Alou,17.0,17.0,17.0,17.0,17.0,17.0,17.0,17.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
3,Darin Erstad,14.0,14.0,14.0,14.0,14.0,14.0,NaN,14.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
4,Manny Ramirez,19.0,19.0,19.0,19.0,19.0,19.0,19.0,19.0,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1169,J.T. Realmuto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6.0,6.0,6.0,6.0,6.0,6
1172,Tucker Barnhart,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6.0,6.0,6.0,6.0,6.0,6
1178,Hernan Perez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8.0,8.0,8.0,8.0,8.0,6
1181,Addison Russell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5.0,5.0,5.0,5.0,5.0,6
1193,Joc Pederson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6.0,6.0,6.0,6.0,6.0,6

In [18]:
batter_list = df.PLAYER.unique()
batter_list

array(['Nomar Garciaparra', 'Todd Helton', 'Moises Alou', 'Darin Erstad',
       'Manny Ramirez', 'Iván Rodríguez', 'Vladimir Guerrero',
       'Carlos Delgado', 'Derek Jeter', 'Jeff Kent', 'Luis Castillo',
       'Jason Giambi', 'Mike Sweeney', 'Jose Vidro', 'Frank Thomas',
       'Johnny Damon', 'Jeff Cirillo', 'Gary Sheffield', 'Edgar Martinez',
       'Mike Piazza', 'Edgardo Alfonzo', 'Jermaine Dye', 'Sammy Sosa',
       'Jason Kendall', 'Shannon Stewart', 'Alex Rodriguez',
       'Bobby Abreu', 'Placido Polanco', 'Brian Giles', 'Magglio Ordonez',
       'Sean Casey', 'Richard Hidalgo', 'Rondell White', 'Chipper Jones',
       'Jeff Bagwell', 'Larry Walker', 'Bernie Williams', 'Barry Bonds',
       'Matt Lawton', 'Charles Johnson', 'Joe Randa', 'Phil Nevin',
       'Andruw Jones', 'Dmitri Young', 'Geoff Jenkins', 'Deivi Cruz',
       'Gabe Kapler', 'Carlos Lee', 'Carl Everett', 'Cliff Floyd',
       'Bobby Higginson', 'Orlando Palmeiro', 'Corey Koskie',
       'Scott Rolen', 'Mark Kotsay', 'Paul Konerko', 'Eric Young',
       'Lance Berkman', 'Delino DeShields', 'Jim Edmonds', 'Brad Fullmer',
       'J.D. Drew', 'Rafael Furcal', 'B.J. Surhoff', 'Jay Payton',
       'Frank Catalanotto', 'Tim Salmon', 'Todd Walker', 'Adrian Beltre',
       'Juan Encarnacion', 'Rafael Palmeiro', 'Terrence Long',
       'Omar Vizquel', 'Javy Lopez', 'Jorge Posada', 'Neifi Perez',
       'Garret Anderson', 'John Olerud', 'Aaron Boone', 'Jacque Jones',
       'Jeff Conine', 'J.T. Snow', 'Troy Glaus', 'Ryan Klesko',
       'Geoff Blum', 'Julio Lugo', 'David Ortiz', 'Mark Loretta',
       'Derrek Lee', 'Bengie Molina', 'Steve Finley', 'Ray Durham',
       'Torii Hunter', 'Mark Grudzielanek', 'Kenny Lofton',
       'Mike Lieberthal', 'Edgar Renteria', 'Mike Lamb', 'Eric Chavez',
       'Trot Nixon', 'Damian Miller', 'Miguel Tejada', 'Melvin Mora',
       'Gregg Zaun', 'Tony Clark', 'Rey Sanchez', 'Jose Valentin',
       'Richie Sexson', 'Ken Griffey Jr.', 'Tony Womack', 'Rich Aurilia',
       'Mike Lowell', 'Jim Thome', 'Shawn Green', 'Todd Hollandsworth',
       'Craig Biggio', 'Todd Zeile', 'Bill Mueller', 'Michael Tucker',
       'Mike Cameron', 'Brad Ausmus', 'Adam Kennedy', 'Scott Hatteberg',
       'Brian Jordan', 'Preston Wilson', 'Tony Batista',
       'Ronnie Belliard', 'Miguel Cairo', 'Mike Matheny', 'Pat Burrell',
       'Damion Easley', 'Kevin Millar', 'Tino Martinez', 'Daryle Ward',
       'Carlos Guillen', 'Aramis Ramirez', 'Jose Guillen', 'Bret Boone',
       'Jason Varitek', 'Carlos Beltran', 'Cristian Guzman', 'David Bell',
       'Mark McLemore', 'Marquis Grissom', 'Jose Hernandez',
       'Royce Clayton', 'Scott Spiezio', 'Jose Cruz Jr.', 'Juan Castro',
       'Ramon Hernandez', 'Alex Cora', 'Orlando Cabrera', 'Ricky Ledee',
       'Henry Blanco', 'Dan Wilson', 'John Mabry', 'Travis Lee',
       'Reggie Sanders', 'Jeromy Burnitz', 'Matt Stairs',
       'Vinny Castilla', 'Desi Relaford', 'Michael Barrett',
       'Ichiro Suzuki', 'Albert Pujols', 'Juan Pierre', 'Paul Lo Duca',
       'Doug Mientkiewicz', 'Juan Uribe', 'Marlon Anderson',
       'A.J. Pierzynski', 'David Eckstein', 'Raul Ibanez',
       'Dave Dellucci', 'Craig Counsell', 'Jimmy Rollins', 'Randy Winn',
       'Robert Fick', 'Alfonso Soriano', 'Luis Rivas', 'Rob Mackowiak',
       'Shea Hillenbrand', 'Abraham Nunez', 'Marcus Giles', 'Adam Dunn',
       'Chris Gomez', 'Brian Roberts', 'Michael Young', 'Aubrey Huff',
       'Jason LaRue', 'Jay Gibbons', 'Jerry Hairston Jr.',
       'Russell Branyan', 'Johnny Estrada', 'Gary Matthews Jr.',
       'Pedro Feliz', 'Milton Bradley', 'Jack Wilson', 'Wes Helms',
       'Austin Kearns', 'Mark DeRosa', 'Bobby Kielty', 'Eric Hinske',
       'Dave Roberts', 'Vernon Wells', 'Brian Schneider', 'Ramon Vazquez',
       'Mark Ellis', 'Brad Wilkerson', 'Tony Graffanino', 'Kevin Mench',
       'Carl Crawford', 'Mark Bellhorn', 'Toby Hall', 'Aaron Rowand',
       'Corey Patterson', 'John McDonald', 'Nick Johnson',
       'Ramon Santiago', 'Carlos Pena', 'Cesar Izturis', 'Felipe Lopez',
       'Brandon Inge', 'Scott Podsednik', 'Jose Reyes', 'Marlon Byrd',
       'Hank Blalock', 'Chone Figgins', 'Reed Johnson', 'Morgan Ensberg',
       'Angel Berroa', 'Hideki Matsui', 'Lyle Overbay', 'Orlando Hudson',
       'Miguel Cabrera', 'Xavier Nady', 'Coco Crisp', 'Eric Byrnes',
       'Joe Crede', 'Jamey Carroll', 'Mark Teixeira', 'Casey Blake',
       'Adam Everett', 'Ty Wigginton', 'Travis Hafner', 'Endy Chavez',
       'Ben Broussard', 'Craig Monroe', 'Miguel Olivo', 'Jhonny Peralta',
       'Omar Infante', 'Rod Barajas', 'Brandon Phillips', 'Juan Rivera',
       'Aaron Miles', 'David Wright', 'Matt Holliday', 'David DeJesus',
       'Alex Rios', 'Chad Tracy', 'Victor Martinez', 'Jason Bay',
       'Adam LaRoche', 'Jason Michaels', 'Marco Scutaro', 'Khalil Greene',
       'Kazuo Matsui', 'Justin Morneau', 'Chase Utley', 'Michael Cuddyer',
       'Jayson Werth', 'Willie Harris', 'José Molina', 'Kevin Youkilis',
       'Jose Castillo', 'Scott Hairston', 'Bobby Crosby', 'Bill Hall',
       'John Buck', 'Jose Lopez', 'Wilson Betemit', 'Jeff Francoeur',
       'Robinson Cano', 'Joe Mauer', 'Freddy Sanchez', 'Willy Taveras',
       'Clint Barmes', 'Grady Sizemore', 'Ryan Howard', 'Garrett Atkins',
       'Ryan Church', 'Jorge Cantú', 'Jonny Gomes', 'Michael Morse',
       'Aaron Hill', 'Brad Hawpe', 'Willie Bloomquist',
       'Yuniesky Betancourt', 'Ryan Doumit', 'Yadier Molina',
       'J.J. Hardy', 'Mark Teahen', 'Jason Bartlett', 'Kelly Johnson',
       'Nick Punto', 'Rickie Weeks', 'Nick Swisher', 'Yorvit Torrealba',
       'Edwin Encarnacion', 'Chris Snyder', 'Luke Scott', 'Brian McCann',
       'Matt Diaz', 'Stephen Drew', 'Ronny Paulino', 'Andre Ethier',
       'Adrian Gonzalez', 'Gerald Laird', 'Maicer Izturis',
       'Hanley Ramirez', 'Conor Jackson', 'Nick Markakis',
       'Shane Victorino', 'Ryan Zimmerman', 'Ian Kinsler',
       'Howie Kendrick', 'Corey Hart', 'Russell Martin', 'Dan Uggla',
       'Melky Cabrera', 'Josh Willingham', 'Prince Fielder',
       'Curtis Granderson', 'Marcus Thames', 'Dioner Navarro',
       'Jeremy Hermida', 'Ronny Cedeno', 'Jason Kubel', 'Jose Bautista',
       'Nate McLouth', 'Mike Napoli', 'Cody Ross', 'Matt Kemp',
       'Jeff Keppinger', 'James Loney', 'Yunel Escobar', 'Ryan Braun',
       'Hunter Pence', 'Dustin Pedroia', 'B.J. Upton', 'Casey Kotchman',
       'Josh Hamilton', 'Billy Butler', 'Troy Tulowitzki', 'Delmon Young',
       'Mark Reynolds', 'Mike Fontenot', 'Kevin Kouzmanoff', 'Greg Dobbs',
       'Ryan Ludwick', 'Franklin Gutierrez', 'Ryan Theriot',
       'Jarrod Saltalamacchia', 'Carlos Ruiz', 'Jack Cust', 'Kurt Suzuki',
       'Alex Gordon', 'Adam Lind', 'Chris Young', 'Nelson Cruz',
       'Miguel Montero', 'Carlos Quentin', 'Mike Aviles', 'Martin Prado',
       'Shin-Soo Choo', 'Alberto Callaspo', 'Skip Schumaker',
       'Joey Votto', 'Denard Span', 'Alexei Ramirez', 'Ryan Sweeney',
       'Geovany Soto', 'Chris Davis', 'Jacoby Ellsbury', 'Erick Aybar',
       'David Murphy', 'Evan Longoria', 'Adam Jones', 'Chase Headley',
       'Jeff Baker', 'Chris Iannetta', 'Asdrubal Cabrera', 'Carlos Gomez',
       'Jed Lowrie', 'Jay Bruce', 'Matt Joyce', 'Gregor Blanco',
       'Justin Upton', 'Brandon Moss', 'Rajai Davis', 'Carlos Gonzalez',
       'Michael Bourn', 'Jeff Mathis', 'Pablo Sandoval', 'Chris Coghlan',
       'Kendrys Morales', 'Angel Pagan', 'Casey McGehee', 'Ben Zobrist',
       'Garrett Jones', 'Seth Smith', 'Brendan Ryan', 'Ryan Raburn',
       'Gerardo Parra', 'Matt Wieters', 'Andrew McCutchen',
       'Cliff Pennington', 'Brett Gardner', 'Gordon Beckham',
       'Nate Schierholtz', 'Elvis Andrus', 'Daniel Murphy',
       'Dexter Fowler', 'Ryan Hanigan', 'Will Venable', 'Everth Cabrera',
       'Emilio Bonifacio', 'Colby Rasmus', 'Luis Valbuena',
       'Travis Snider', 'Nick Hundley', 'Danny Valencia', 'Chris Johnson',
       'Buster Posey', 'Jon Jay', 'Starlin Castro', 'Neil Walker',
       'David Freese', 'Austin Jackson', 'Logan Morrison',
       'Jason Heyward', 'Gaby Sanchez', 'Chris Denorfia',
       'Francisco Cervelli', 'Ian Desmond', 'Ike Davis', 'John Jaso',
       'Giancarlo Stanton', 'Pedro Alvarez', 'Drew Stubbs',
       'Chris Heisey', 'Jonathan Lucroy', 'Sean Rodriguez',
       'Michael Brantley', 'Alcides Escobar', 'Cameron Maybin',
       'Alex Avila', 'Justin Smoak', 'Ruben Tejada', 'Michael Saunders',
       'Dee Strange-Gordon', 'Eric Hosmer', 'Lucas Duda',
       'Freddie Freeman', 'Josh Reddick', 'Darwin Barney', 'Jose Altuve',
       'J.D. Martinez', 'Dustin Ackley', 'Ben Revere', 'Wilson Ramos',
       'Eduardo Nunez', 'Daniel Descalso', 'Mike Moustakas',
       'Eric Thames', 'Justin Turner', 'Mitch Moreland',
       'Lonnie Chisenhall', 'Mark Trumbo', 'Brayan Pena',
       'Carlos Santana', 'Trevor Plouffe', 'Danny Espinosa', 'Mike Trout',
       'Salvador Perez', 'DJ LeMahieu', 'Matt Carpenter',
       'Yoenis Cespedes', 'Norichika Aoki', 'Paul Goldschmidt',
       'Anthony Rizzo', 'Alejandro De Aza', 'Brandon Belt',
       'Todd Frazier', 'Yonder Alonso', 'Logan Forsythe', 'Brett Lawrie',
       'Bryce Harper', 'Lorenzo Cain', 'Martin Maldonado', 'Jarrod Dyson',
       'Kyle Seager', 'Jason Castro', 'Jason Kipnis', 'Brandon Crawford',
       'Zack Cozart', 'Josh Donaldson', 'Chris Carter', 'Marwin Gonzalez',
       'Brian Dozier', 'Josh Harrison', 'Derek Norris', 'Scooter Gennett',
       'Yasiel Puig', 'Charlie Blackmon', 'Jose Iglesias', 'Jean Segura',
       'Yan Gomes', 'Wil Myers', 'Christian Yelich', 'Jordy Mercer',
       'Matt Adams', 'Avisail Garcia', 'Manny Machado', 'Starling Marte',
       'Welington Castillo', 'A.J. Pollock', 'Robbie Grossman',
       'Nolan Arenado', 'Eric Sogard', 'Marcell Ozuna', 'Anthony Rendon',
       'Brad Miller', 'Leonys Martin', 'Didi Gregorius', 'Adam Eaton',
       'Jedd Gyorko', 'Andrelton Simmons', 'Jonathan Villar',
       'Evan Gattis', 'Juan Lagares', 'Freddy Galvis',
       'Adeiny Hechavarria', 'Derek Dietrich', 'Tyler Flowers',
       'Aaron Hicks', 'Jose Abreu', 'Corey Dickerson', 'Joe Panik',
       'Steve Pearce', 'David Peralta', 'Brock Holt', 'Stephen Vogt',
       'Ender Inciarte', 'Eduardo Escobar', 'Kole Calhoun',
       'Kevin Kiermaier', 'Jose Ramirez', 'Chris Owings',
       'Yangervis Solarte', 'Nick Castellanos', 'Rougned Odor',
       'C.J. Cron', 'Wilmer Flores', 'Billy Hamilton', 'Jake Marisnick',
       'Kolten Wong', 'Khris Davis', "Travis d'Arnaud", 'Eugenio Suarez',
       'Xander Bogaerts', 'Robinson Chirinos', 'Gregory Polanco',
       'Marcus Semien', 'George Springer', 'Yasmani Grandal',
       'Jonathan Schoop', 'Mike Zunino', 'Jackie Bradley Jr.',
       'Javier Baez', 'Francisco Lindor', 'Enrique Hernandez',
       'Stephen Piscotty', 'Mookie Betts', 'Ketel Marte', 'Maikel Franco',
       'Carlos Correa', 'Kevin Pillar', 'Randal Grichuk', 'Kris Bryant',
       'Travis Shaw', 'Cesar Hernandez', 'Miguel Sano', 'Eddie Rosario',
       'James McCann', 'J.T. Realmuto', 'Tucker Barnhart', 'Hernan Perez',
       'Addison Russell', 'Joc Pederson'], dtype=object)

In [19]:
api_list = []

In [20]:
for batter in batter_list:
    j = batter.replace(' ', '%25')
    api_list.append(j)
api_list

['Nomar%25Garciaparra',
 'Todd%25Helton',
 'Moises%25Alou',
 'Darin%25Erstad',
 'Manny%25Ramirez',
 'Iván%25Rodríguez',
 'Vladimir%25Guerrero',
 'Carlos%25Delgado',
 'Derek%25Jeter',
 'Jeff%25Kent',
 'Luis%25Castillo',
 'Jason%25Giambi',
 'Mike%25Sweeney',
 'Jose%25Vidro',
 'Frank%25Thomas',
 'Johnny%25Damon',
 'Jeff%25Cirillo',
 'Gary%25Sheffield',
 'Edgar%25Martinez',
 'Mike%25Piazza',
 'Edgardo%25Alfonzo',
 'Jermaine%25Dye',
 'Sammy%25Sosa',
 'Jason%25Kendall',
 'Shannon%25Stewart',
 'Alex%25Rodriguez',
 'Bobby%25Abreu',
 'Placido%25Polanco',
 'Brian%25Giles',
 'Magglio%25Ordonez',
 'Sean%25Casey',
 'Richard%25Hidalgo',
 'Rondell%25White',
 'Chipper%25Jones',
 'Jeff%25Bagwell',
 'Larry%25Walker',
 'Bernie%25Williams',
 'Barry%25Bonds',
 'Matt%25Lawton',
 'Charles%25Johnson',
 'Joe%25Randa',
 'Phil%25Nevin',
 'Andruw%25Jones',
 'Dmitri%25Young',
 'Geoff%25Jenkins',
 'Deivi%25Cruz',
 'Gabe%25Kapler',
 'Carlos%25Lee',
 'Carl%25Everett',
 'Cliff%25Floyd',
 'Bobby%25Higginson',
 'Orlando%25Palmeiro',
 'Corey%25Koskie',
 'Scott%25Rolen',
 'Mark%25Kotsay',
 'Paul%25Konerko',
 'Eric%25Young',
 'Lance%25Berkman',
 'Delino%25DeShields',
 'Jim%25Edmonds',
 'Brad%25Fullmer',
 'J.D.%25Drew',
 'Rafael%25Furcal',
 'B.J.%25Surhoff',
 'Jay%25Payton',
 'Frank%25Catalanotto',
 'Tim%25Salmon',
 'Todd%25Walker',
 'Adrian%25Beltre',
 'Juan%25Encarnacion',
 'Rafael%25Palmeiro',
 'Terrence%25Long',
 'Omar%25Vizquel',
 'Javy%25Lopez',
 'Jorge%25Posada',
 'Neifi%25Perez',
 'Garret%25Anderson',
 'John%25Olerud',
 'Aaron%25Boone',
 'Jacque%25Jones',
 'Jeff%25Conine',
 'J.T.%25Snow',
 'Troy%25Glaus',
 'Ryan%25Klesko',
 'Geoff%25Blum',
 'Julio%25Lugo',
 'David%25Ortiz',
 'Mark%25Loretta',
 'Derrek%25Lee',
 'Bengie%25Molina',
 'Steve%25Finley',
 'Ray%25Durham',
 'Torii%25Hunter',
 'Mark%25Grudzielanek',
 'Kenny%25Lofton',
 'Mike%25Lieberthal',
 'Edgar%25Renteria',
 'Mike%25Lamb',
 'Eric%25Chavez',
 'Trot%25Nixon',
 'Damian%25Miller',
 'Miguel%25Tejada',
 'Melvin%25Mora',
 'Gregg%25Zaun',
 'Tony%25Clark',
 'Rey%25Sanchez',
 'Jose%25Valentin',
 'Richie%25Sexson',
 'Ken%25Griffey%25Jr.',
 'Tony%25Womack',
 'Rich%25Aurilia',
 'Mike%25Lowell',
 'Jim%25Thome',
 'Shawn%25Green',
 'Todd%25Hollandsworth',
 'Craig%25Biggio',
 'Todd%25Zeile',
 'Bill%25Mueller',
 'Michael%25Tucker',
 'Mike%25Cameron',
 'Brad%25Ausmus',
 'Adam%25Kennedy',
 'Scott%25Hatteberg',
 'Brian%25Jordan',
 'Preston%25Wilson',
 'Tony%25Batista',
 'Ronnie%25Belliard',
 'Miguel%25Cairo',
 'Mike%25Matheny',
 'Pat%25Burrell',
 'Damion%25Easley',
 'Kevin%25Millar',
 'Tino%25Martinez',
 'Daryle%25Ward',
 'Carlos%25Guillen',
 'Aramis%25Ramirez',
 'Jose%25Guillen',
 'Bret%25Boone',
 'Jason%25Varitek',
 'Carlos%25Beltran',
 'Cristian%25Guzman',
 'David%25Bell',
 'Mark%25McLemore',
 'Marquis%25Grissom',
 'Jose%25Hernandez',
 'Royce%25Clayton',
 'Scott%25Spiezio',
 'Jose%25Cruz%25Jr.',
 'Juan%25Castro',
 'Ramon%25Hernandez',
 'Alex%25Cora',
 'Orlando%25Cabrera',
 'Ricky%25Ledee',
 'Henry%25Blanco',
 'Dan%25Wilson',
 'John%25Mabry',
 'Travis%25Lee',
 'Reggie%25Sanders',
 'Jeromy%25Burnitz',
 'Matt%25Stairs',
 'Vinny%25Castilla',
 'Desi%25Relaford',
 'Michael%25Barrett',
 'Ichiro%25Suzuki',
 'Albert%25Pujols',
 'Juan%25Pierre',
 'Paul%25Lo%25Duca',
 'Doug%25Mientkiewicz',
 'Juan%25Uribe',
 'Marlon%25Anderson',
 'A.J.%25Pierzynski',
 'David%25Eckstein',
 'Raul%25Ibanez',
 'Dave%25Dellucci',
 'Craig%25Counsell',
 'Jimmy%25Rollins',
 'Randy%25Winn',
 'Robert%25Fick',
 'Alfonso%25Soriano',
 'Luis%25Rivas',
 'Rob%25Mackowiak',
 'Shea%25Hillenbrand',
 'Abraham%25Nunez',
 'Marcus%25Giles',
 'Adam%25Dunn',
 'Chris%25Gomez',
 'Brian%25Roberts',
 'Michael%25Young',
 'Aubrey%25Huff',
 'Jason%25LaRue',
 'Jay%25Gibbons',
 'Jerry%25Hairston%25Jr.',
 'Russell%25Branyan',
 'Johnny%25Estrada',
 'Gary%25Matthews%25Jr.',
 'Pedro%25Feliz',
 'Milton%25Bradley',
 'Jack%25Wilson',
 'Wes%25Helms',
 'Austin%25Kearns',
 'Mark%25DeRosa',
 'Bobby%25Kielty',
 'Eric%25Hinske',
 'Dave%25Roberts',
 'Vernon%25Wells',
 'Brian%25Schneider',
 'Ramon%25Vazquez',
 'Mark%25Ellis',
 'Brad%25Wilkerson',
 'Tony%25Graffanino',
 'Kevin%25Mench',
 'Carl%25Crawford',
 'Mark%25Bellhorn',
 'Toby%25Hall',
 'Aaron%25Rowand',
 'Corey%25Patterson',
 'John%25McDonald',
 'Nick%25Johnson',
 'Ramon%25Santiago',
 'Carlos%25Pena',
 'Cesar%25Izturis',
 'Felipe%25Lopez',
 'Brandon%25Inge',
 'Scott%25Podsednik',
 'Jose%25Reyes',
 'Marlon%25Byrd',
 'Hank%25Blalock',
 'Chone%25Figgins',
 'Reed%25Johnson',
 'Morgan%25Ensberg',
 'Angel%25Berroa',
 'Hideki%25Matsui',
 'Lyle%25Overbay',
 'Orlando%25Hudson',
 'Miguel%25Cabrera',
 'Xavier%25Nady',
 'Coco%25Crisp',
 'Eric%25Byrnes',
 'Joe%25Crede',
 'Jamey%25Carroll',
 'Mark%25Teixeira',
 'Casey%25Blake',
 'Adam%25Everett',
 'Ty%25Wigginton',
 'Travis%25Hafner',
 'Endy%25Chavez',
 'Ben%25Broussard',
 'Craig%25Monroe',
 'Miguel%25Olivo',
 'Jhonny%25Peralta',
 'Omar%25Infante',
 'Rod%25Barajas',
 'Brandon%25Phillips',
 'Juan%25Rivera',
 'Aaron%25Miles',
 'David%25Wright',
 'Matt%25Holliday',
 'David%25DeJesus',
 'Alex%25Rios',
 'Chad%25Tracy',
 'Victor%25Martinez',
 'Jason%25Bay',
 'Adam%25LaRoche',
 'Jason%25Michaels',
 'Marco%25Scutaro',
 'Khalil%25Greene',
 'Kazuo%25Matsui',
 'Justin%25Morneau',
 'Chase%25Utley',
 'Michael%25Cuddyer',
 'Jayson%25Werth',
 'Willie%25Harris',
 'José%25Molina',
 'Kevin%25Youkilis',
 'Jose%25Castillo',
 'Scott%25Hairston',
 'Bobby%25Crosby',
 'Bill%25Hall',
 'John%25Buck',
 'Jose%25Lopez',
 'Wilson%25Betemit',
 'Jeff%25Francoeur',
 'Robinson%25Cano',
 'Joe%25Mauer',
 'Freddy%25Sanchez',
 'Willy%25Taveras',
 'Clint%25Barmes',
 'Grady%25Sizemore',
 'Ryan%25Howard',
 'Garrett%25Atkins',
 'Ryan%25Church',
 'Jorge%25Cantú',
 'Jonny%25Gomes',
 'Michael%25Morse',
 'Aaron%25Hill',
 'Brad%25Hawpe',
 'Willie%25Bloomquist',
 'Yuniesky%25Betancourt',
 'Ryan%25Doumit',
 'Yadier%25Molina',
 'J.J.%25Hardy',
 'Mark%25Teahen',
 'Jason%25Bartlett',
 'Kelly%25Johnson',
 'Nick%25Punto',
 'Rickie%25Weeks',
 'Nick%25Swisher',
 'Yorvit%25Torrealba',
 'Edwin%25Encarnacion',
 'Chris%25Snyder',
 'Luke%25Scott',
 'Brian%25McCann',
 'Matt%25Diaz',
 'Stephen%25Drew',
 'Ronny%25Paulino',
 'Andre%25Ethier',
 'Adrian%25Gonzalez',
 'Gerald%25Laird',
 'Maicer%25Izturis',
 'Hanley%25Ramirez',
 'Conor%25Jackson',
 'Nick%25Markakis',
 'Shane%25Victorino',
 'Ryan%25Zimmerman',
 'Ian%25Kinsler',
 'Howie%25Kendrick',
 'Corey%25Hart',
 'Russell%25Martin',
 'Dan%25Uggla',
 'Melky%25Cabrera',
 'Josh%25Willingham',
 'Prince%25Fielder',
 'Curtis%25Granderson',
 'Marcus%25Thames',
 'Dioner%25Navarro',
 'Jeremy%25Hermida',
 'Ronny%25Cedeno',
 'Jason%25Kubel',
 'Jose%25Bautista',
 'Nate%25McLouth',
 'Mike%25Napoli',
 'Cody%25Ross',
 'Matt%25Kemp',
 'Jeff%25Keppinger',
 'James%25Loney',
 'Yunel%25Escobar',
 'Ryan%25Braun',
 'Hunter%25Pence',
 'Dustin%25Pedroia',
 'B.J.%25Upton',
 'Casey%25Kotchman',
 'Josh%25Hamilton',
 'Billy%25Butler',
 'Troy%25Tulowitzki',
 'Delmon%25Young',
 'Mark%25Reynolds',
 'Mike%25Fontenot',
 'Kevin%25Kouzmanoff',
 'Greg%25Dobbs',
 'Ryan%25Ludwick',
 'Franklin%25Gutierrez',
 'Ryan%25Theriot',
 'Jarrod%25Saltalamacchia',
 'Carlos%25Ruiz',
 'Jack%25Cust',
 'Kurt%25Suzuki',
 'Alex%25Gordon',
 'Adam%25Lind',
 'Chris%25Young',
 'Nelson%25Cruz',
 'Miguel%25Montero',
 'Carlos%25Quentin',
 'Mike%25Aviles',
 'Martin%25Prado',
 'Shin-Soo%25Choo',
 'Alberto%25Callaspo',
 'Skip%25Schumaker',
 'Joey%25Votto',
 'Denard%25Span',
 'Alexei%25Ramirez',
 'Ryan%25Sweeney',
 'Geovany%25Soto',
 'Chris%25Davis',
 'Jacoby%25Ellsbury',
 'Erick%25Aybar',
 'David%25Murphy',
 'Evan%25Longoria',
 'Adam%25Jones',
 'Chase%25Headley',
 'Jeff%25Baker',
 'Chris%25Iannetta',
 'Asdrubal%25Cabrera',
 'Carlos%25Gomez',
 'Jed%25Lowrie',
 'Jay%25Bruce',
 'Matt%25Joyce',
 'Gregor%25Blanco',
 'Justin%25Upton',
 'Brandon%25Moss',
 'Rajai%25Davis',
 'Carlos%25Gonzalez',
 'Michael%25Bourn',
 'Jeff%25Mathis',
 'Pablo%25Sandoval',
 'Chris%25Coghlan',
 'Kendrys%25Morales',
 'Angel%25Pagan',
 'Casey%25McGehee',
 'Ben%25Zobrist',
 'Garrett%25Jones',
 'Seth%25Smith',
 'Brendan%25Ryan',
 'Ryan%25Raburn',
 'Gerardo%25Parra',
 'Matt%25Wieters',
 'Andrew%25McCutchen',
 'Cliff%25Pennington',
 'Brett%25Gardner',
 'Gordon%25Beckham',
 'Nate%25Schierholtz',
 'Elvis%25Andrus',
 'Daniel%25Murphy',
 'Dexter%25Fowler',
 'Ryan%25Hanigan',
 'Will%25Venable',
 'Everth%25Cabrera',
 'Emilio%25Bonifacio',
 'Colby%25Rasmus',
 'Luis%25Valbuena',
 'Travis%25Snider',
 'Nick%25Hundley',
 'Danny%25Valencia',
 'Chris%25Johnson',
 'Buster%25Posey',
 'Jon%25Jay',
 'Starlin%25Castro',
 'Neil%25Walker',
 'David%25Freese',
 'Austin%25Jackson',
 'Logan%25Morrison',
 'Jason%25Heyward',
 'Gaby%25Sanchez',
 'Chris%25Denorfia',
 'Francisco%25Cervelli',
 'Ian%25Desmond',
 'Ike%25Davis',
 'John%25Jaso',
 'Giancarlo%25Stanton',
 'Pedro%25Alvarez',
 'Drew%25Stubbs',
 'Chris%25Heisey',
 'Jonathan%25Lucroy',
 'Sean%25Rodriguez',
 'Michael%25Brantley',
 'Alcides%25Escobar',
 'Cameron%25Maybin',
 'Alex%25Avila',
 'Justin%25Smoak',
 'Ruben%25Tejada',
 'Michael%25Saunders',
 'Dee%25Strange-Gordon',
 'Eric%25Hosmer',
 'Lucas%25Duda',
 'Freddie%25Freeman',
 'Josh%25Reddick',
 'Darwin%25Barney',
 'Jose%25Altuve',
 'J.D.%25Martinez',
 'Dustin%25Ackley',
 'Ben%25Revere',
 'Wilson%25Ramos',
 'Eduardo%25Nunez',
 'Daniel%25Descalso',
 'Mike%25Moustakas',
 'Eric%25Thames',
 'Justin%25Turner',
 'Mitch%25Moreland',
 'Lonnie%25Chisenhall',
 'Mark%25Trumbo',
 'Brayan%25Pena',
 'Carlos%25Santana',
 'Trevor%25Plouffe',
 'Danny%25Espinosa',
 'Mike%25Trout',
 'Salvador%25Perez',
 'DJ%25LeMahieu',
 'Matt%25Carpenter',
 'Yoenis%25Cespedes',
 'Norichika%25Aoki',
 'Paul%25Goldschmidt',
 'Anthony%25Rizzo',
 'Alejandro%25De%25Aza',
 'Brandon%25Belt',
 'Todd%25Frazier',
 'Yonder%25Alonso',
 'Logan%25Forsythe',
 'Brett%25Lawrie',
 'Bryce%25Harper',
 'Lorenzo%25Cain',
 'Martin%25Maldonado',
 'Jarrod%25Dyson',
 'Kyle%25Seager',
 'Jason%25Castro',
 'Jason%25Kipnis',
 'Brandon%25Crawford',
 'Zack%25Cozart',
 'Josh%25Donaldson',
 'Chris%25Carter',
 'Marwin%25Gonzalez',
 'Brian%25Dozier',
 'Josh%25Harrison',
 'Derek%25Norris',
 'Scooter%25Gennett',
 'Yasiel%25Puig',
 'Charlie%25Blackmon',
 'Jose%25Iglesias',
 'Jean%25Segura',
 'Yan%25Gomes',
 'Wil%25Myers',
 'Christian%25Yelich',
 'Jordy%25Mercer',
 'Matt%25Adams',
 'Avisail%25Garcia',
 'Manny%25Machado',
 'Starling%25Marte',
 'Welington%25Castillo',
 'A.J.%25Pollock',
 'Robbie%25Grossman',
 'Nolan%25Arenado',
 'Eric%25Sogard',
 'Marcell%25Ozuna',
 'Anthony%25Rendon',
 'Brad%25Miller',
 'Leonys%25Martin',
 'Didi%25Gregorius',
 'Adam%25Eaton',
 'Jedd%25Gyorko',
 'Andrelton%25Simmons',
 'Jonathan%25Villar',
 'Evan%25Gattis',
 'Juan%25Lagares',
 'Freddy%25Galvis',
 'Adeiny%25Hechavarria',
 'Derek%25Dietrich',
 'Tyler%25Flowers',
 'Aaron%25Hicks',
 'Jose%25Abreu',
 'Corey%25Dickerson',
 'Joe%25Panik',
 'Steve%25Pearce',
 'David%25Peralta',
 'Brock%25Holt',
 'Stephen%25Vogt',
 'Ender%25Inciarte',
 'Eduardo%25Escobar',
 'Kole%25Calhoun',
 'Kevin%25Kiermaier',
 'Jose%25Ramirez',
 'Chris%25Owings',
 'Yangervis%25Solarte',
 'Nick%25Castellanos',
 'Rougned%25Odor',
 'C.J.%25Cron',
 'Wilmer%25Flores',
 'Billy%25Hamilton',
 'Jake%25Marisnick',
 'Kolten%25Wong',
 'Khris%25Davis',
 "Travis%25d'Arnaud",
 'Eugenio%25Suarez',
 'Xander%25Bogaerts',
 'Robinson%25Chirinos',
 'Gregory%25Polanco',
 'Marcus%25Semien',
 'George%25Springer',
 'Yasmani%25Grandal',
 'Jonathan%25Schoop',
 'Mike%25Zunino',
 'Jackie%25Bradley%25Jr.',
 'Javier%25Baez',
 'Francisco%25Lindor',
 'Enrique%25Hernandez',
 'Stephen%25Piscotty',
 'Mookie%25Betts',
 'Ketel%25Marte',
 'Maikel%25Franco',
 'Carlos%25Correa',
 'Kevin%25Pillar',
 'Randal%25Grichuk',
 'Kris%25Bryant',
 'Travis%25Shaw',
 'Cesar%25Hernandez',
 'Miguel%25Sano',
 'Eddie%25Rosario',
 'James%25McCann',
 'J.T.%25Realmuto',
 'Tucker%25Barnhart',
 'Hernan%25Perez',
 'Addison%25Russell',
 'Joc%25Pederson']

In [21]:
api_df = pd.DataFrame(api_list)
api_df

                       0
0    Nomar%25Garciaparra
1          Todd%25Helton
2          Moises%25Alou
3         Darin%25Erstad
4        Manny%25Ramirez
..                   ...
595      J.T.%25Realmuto
596    Tucker%25Barnhart
597       Hernan%25Perez
598    Addison%25Russell
599       Joc%25Pederson

[600 rows x 1 columns]

In [29]:
api_df.to_csv('player_list/batter_list.csv', index=False)

In [23]:
batter_df =pd.DataFrame(batter_list)
batter_df.columns = ['PLAYER']
batter_df

                PLAYER
0    Nomar Garciaparra
1          Todd Helton
2          Moises Alou
3         Darin Erstad
4        Manny Ramirez
..                 ...
595      J.T. Realmuto
596    Tucker Barnhart
597       Hernan Perez
598    Addison Russell
599       Joc Pederson

[600 rows x 1 columns]

In [25]:
# call in original df without any altering and merge with filtered list
og_df= pd.read_csv('merged_data/UPDATED_merged_batting_data_10.13.2020.csv')
filtered_batter = pd.merge(batter_df,og_df,how='left', on='PLAYER')
filtered_batter

,PLAYER,Unnamed: 0_x,YRS00,BA00,Unnamed: 0_y,YRS01,BA01,Unnamed: 0_x.1,YRS02,BA02,...,BA16,Unnamed: 0_y.8,YRS17,BA17,Unnamed: 0_x.9,YRS18,BA18,Unnamed: 0_y.9,YRS19,BA19
0,Nomar Garciaparra,1,14.0,0.372,NaN,NaN,NaN,21,14.0,0.310,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Todd Helton,,17.0,0.372,,17.0,0.336,7,17.0,0.329,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Moises Alou,3,17.0,0.355,6,17.0,0.331,,17.0,0.275,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Darin Erstad,,14.0,0.355,,14.0,0.258,,14.0,0.283,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Manny Ramirez,5,19.0,0.351,,19.0,0.306,2,19.0,0.349,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,J.T. Realmuto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.303,,6.0,0.278,,6.0,0.277,,6.0,0.275
596,Tucker Barnhart,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.257,,6.0,0.270,,6.0,0.248,279,6.0,0.231
597,Hernan Perez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.272,,8.0,0.259,165,8.0,0.253,,8.0,0.228
598,Addison Russell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.238,,5.0,0.239,,5.0,0.250,,5.0,0.237
599,Joc Pederson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.246,,6.0,0.212,,6.0,0.248,,6.0,0.249

In [26]:
no_year = filtered_batter.drop(['YRS00', 'YRS01', 'YRS02', 'YRS03', 'YRS04', 'YRS05',
       'YRS06', 'YRS07','YRS08', 'YRS09', 'YRS10', 'YRS11', 'YRS12', 'YRS13',
       'YRS14', 'YRS15','YRS16', 'YRS17', 'YRS18', 'YRS19'], axis=1)
no_year

,PLAYER,Unnamed: 0_x,BA00,Unnamed: 0_y,BA01,Unnamed: 0_x.1,BA02,Unnamed: 0_y.1,BA03,Unnamed: 0_x.2,...,Unnamed: 0_y.7,BA15,Unnamed: 0_x.8,BA16,Unnamed: 0_y.8,BA17,Unnamed: 0_x.9,BA18,Unnamed: 0_y.9,BA19
0,Nomar Garciaparra,1,0.372,NaN,NaN,21,0.310,,0.301,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Todd Helton,,0.372,,0.336,7,0.329,2,0.358,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Moises Alou,3,0.355,6,0.331,,0.275,116,0.280,68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Darin Erstad,,0.355,,0.258,,0.283,,0.252,63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Manny Ramirez,5,0.351,,0.306,2,0.349,11,0.325,34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,J.T. Realmuto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,0.259,27,0.303,,0.278,,0.277,,0.275
596,Tucker Barnhart,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,0.252,181,0.257,,0.270,,0.248,279,0.231
597,Hernan Perez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,0.243,,0.272,,0.259,165,0.253,,0.228
598,Addison Russell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,0.242,,0.238,,0.239,,0.250,,0.237
599,Joc Pederson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,0.210,,0.246,,0.212,,0.248,,0.249

In [27]:
no_year.drop(no_year.columns.difference(['PLAYER','BA00', 'BA01', 'BA02', 'BA03', 'BA04', 'BA05',
       'BA06', 'BA07','BA08', 'BA09', 'BA10', 'BA11', 'BA12', 'BA13',
       'BA14', 'BA15','BA16', 'BA17', 'BA18', 'BA19']),1, inplace=True)
no_year

,PLAYER,BA00,BA01,BA02,BA03,BA04,BA05,BA06,BA07,BA08,...,BA10,BA11,BA12,BA13,BA14,BA15,BA16,BA17,BA18,BA19
0,Nomar Garciaparra,0.372,NaN,0.310,0.301,0.308,0.283,0.303,0.283,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Todd Helton,0.372,0.336,0.329,0.358,0.347,0.320,0.302,0.320,0.264,...,0.256,0.302,0.238,0.249,NaN,NaN,NaN,NaN,NaN,NaN
2,Moises Alou,0.355,0.331,0.275,0.280,0.293,0.321,0.301,0.341,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Darin Erstad,0.355,0.258,0.283,0.252,0.295,0.273,NaN,0.248,0.276,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Manny Ramirez,0.351,0.306,0.349,0.325,0.308,0.292,0.321,0.296,0.332,...,0.298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,J.T. Realmuto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.259,0.303,0.278,0.277,0.275
596,Tucker Barnhart,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.252,0.257,0.270,0.248,0.231
597,Hernan Perez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.243,0.272,0.259,0.253,0.228
598,Addison Russell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.242,0.238,0.239,0.250,0.237
599,Joc Pederson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.210,0.246,0.212,0.248,0.249

In [30]:
no_year.to_csv('munged_data/munged_batting.csv', index=False)