In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pitching_age = pd.read_csv('final_data/FINAL_pitching_age.csv', encoding='utf-8')

In [5]:
# Seperate stats into DF, by type.
#ERA, WHIP, AGE
pitching_age.drop(pitching_age.columns.difference(['PLAYER','AGE00',
       'AGE01', 'AGE02', 'AGE03', 'AGE04', 'AGE05', 'AGE06', 'AGE07', 'AGE08',
       'AGE09', 'AGE10', 'AGE11', 'AGE12', 'AGE13', 'AGE14', 'AGE15', 'AGE16',
       'AGE17', 'AGE18', 'AGE19','BirthCountry']),1, inplace=True)
pitching_age

,PLAYER,BirthCountry,AGE00,AGE01,AGE02,AGE03,AGE04,AGE05,AGE06,AGE07,...,AGE10,AGE11,AGE12,AGE13,AGE14,AGE15,AGE16,AGE17,AGE18,AGE19
0,Brian Anderson,USA,7,8,9,10,11,12,13,14,...,17,18,19,20,21,22,23,24,25,26
1,Zack Greinke,USA,16,17,18,19,20,21,22,23,...,26,27,28,29,30,31,32,33,34,35
2,Justin Verlander,USA,17,18,19,20,21,22,23,24,...,27,28,29,30,31,32,33,34,35,36
3,Cole Hamels,USA,16,17,18,19,20,21,22,23,...,26,27,28,29,30,31,32,33,34,35
4,Adam Wainwright,USA,19,20,21,22,23,24,25,26,...,29,30,31,32,33,34,35,36,37,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,Jeff Samardzija,Colombia,15,16,17,18,19,20,21,22,...,25,26,27,28,29,30,31,32,33,34
195,Andrew Cashner,USA,14,15,16,17,18,19,20,21,...,24,25,26,27,28,29,30,31,32,33
196,Jose Quintana,Mexico,11,12,13,14,15,16,17,18,...,21,22,23,24,25,26,27,28,29,30
197,Chris Tillman,USA,12,13,14,15,16,17,18,19,...,22,23,24,25,26,27,28,29,30,31
198,Marco Estrada,Mexico,17,18,19,20,21,22,23,24,...,27,28,29,30,31,32,33,34,35,36

In [6]:
pitching_age.groupby(by="BirthCountry").mean()

,AGE00,AGE01,AGE02,AGE03,AGE04,AGE05,AGE06,AGE07,AGE08,AGE09,AGE10,AGE11,AGE12,AGE13,AGE14,AGE15,AGE16,AGE17,AGE18,AGE19
BirthCountry,,,,,,,,,,,,,,,,,,,,
Aruba,26.000000,27.000000,28.000000,29.000000,30.000000,31.000000,32.000000,33.000000,34.000000,35.000000,36.000000,37.000000,38.000000,39.000000,40.000000,41.000000,42.000000,43.000000,44.000000,45.000000
Canada,28.000000,29.000000,30.000000,31.000000,32.000000,33.000000,34.000000,35.000000,36.000000,37.000000,38.000000,39.000000,40.000000,41.000000,42.000000,43.000000,44.000000,45.000000,46.000000,47.000000
Colombia,12.000000,13.000000,14.000000,15.000000,16.000000,17.000000,18.000000,19.000000,20.000000,21.000000,22.000000,23.000000,24.000000,25.000000,26.000000,27.000000,28.000000,29.000000,30.000000,31.000000
Cuba,26.500000,27.500000,28.500000,29.500000,30.500000,31.500000,32.500000,33.500000,34.500000,35.500000,36.500000,37.500000,38.500000,39.500000,40.500000,41.500000,42.500000,43.500000,44.500000,45.500000
Dominican Republic,22.230769,23.230769,24.230769,25.230769,26.230769,27.230769,28.230769,29.230769,30.230769,31.230769,32.230769,33.230769,34.230769,35.230769,36.230769,37.230769,38.230769,39.230769,40.230769,41.230769
Germany,18.000000,19.000000,20.000000,21.000000,22.000000,23.000000,24.000000,25.000000,26.000000,27.000000,28.000000,29.000000,30.000000,31.000000,32.000000,33.000000,34.000000,35.000000,36.000000,37.000000
Jamaica,14.000000,15.000000,16.000000,17.000000,18.000000,19.000000,20.000000,21.000000,22.000000,23.000000,24.000000,25.000000,26.000000,27.000000,28.000000,29.000000,30.000000,31.000000,32.000000,33.000000
Japan,17.250000,18.250000,19.250000,20.250000,21.250000,22.250000,23.250000,24.250000,25.250000,26.250000,27.250000,28.250000,29.250000,30.250000,31.250000,32.250000,33.250000,34.250000,35.250000,36.250000
Mexico,19.000000,20.000000,21.000000,22.000000,23.000000,24.000000,25.000000,26.000000,27.000000,28.000000,29.000000,30.000000,31.000000,32.000000,33.000000,34.000000,35.000000,36.000000,37.000000,38.000000
Nicaragua,23.000000,24.000000,25.000000,26.000000,27.000000,28.000000,29.000000,30.000000,31.000000,32.000000,33.000000,34.000000,35.000000,36.000000,37.000000,38.000000,39.000000,40.000000,41.000000,42.000000
Puerto Rico,24.500000,25.500000,26.500000,27.500000,28.500000,29.500000,30.500000,31.500000,32.500000,33.500000,34.500000,35.500000,36.500000,37.500000,38.500000,39.500000,40.500000,41.500000,42.500000,43.500000
USA,20.171975,21.171975,22.171975,23.171975,24.171975,25.171975,26.171975,27.171975,28.171975,29.171975,30.171975,31.171975,32.171975,33.171975,34.171975,35.171975,36.171975,37.171975,38.171975,39.171975
Venezuela,19.714286,20.714286,21.714286,22.714286,23.714286,24.714286,25.714286,26.714286,27.714286,28.714286,29.714286,30.714286,31.714286,32.714286,33.714286,34.714286,35.714286,36.714286,37.714286,38.714286

In [11]:
pitching_whip = pd.read_csv('final_data/FINAL_pitching_age.csv', encoding='utf-8')

In [12]:
pitching_whip.drop(pitching_whip.columns.difference(['PLAYER','whip00', 'whip01', 'whip02', 'whip03', 'whip04', 'whip05',
                                                          'whip06', 'whip07','whip08', 'whip09', 'whip10', 'whip11', 'whip12', 'whip13',
                                                          'whip14', 'whip15','whip16', 'whip17', 'whip18', 'whip19','BirthCountry']),1, inplace=True)
pitching_whip

,PLAYER,whip00,whip01,whip02,whip03,whip04,whip05,whip06,whip07,whip08,...,whip11,whip12,whip13,whip14,whip15,whip16,whip17,whip18,whip19,BirthCountry
0,Brian Anderson,111.215392,NaN,115.384615,114.604462,134.337349,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA
1,Zack Greinke,NaN,NaN,NaN,NaN,NaN,130.054645,NaN,NaN,106.382979,...,103.387850,101.367280,94.243792,102.424542,75.157516,109.987358,93.518060,94.594595,92.699328,USA
2,Justin Verlander,NaN,NaN,NaN,NaN,NaN,NaN,109.677419,98.906561,102.487562,...,78.884462,87.778244,103.163686,115.533981,NaN,82.306338,89.805825,80.373832,70.852018,USA
3,Cole Hamels,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.214637,91.149273,...,84.722222,96.234310,96.818182,90.597453,95.709571,99.900100,NaN,97.266036,NaN,USA
4,Adam Wainwright,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.881188,NaN,...,NaN,105.953582,100.331675,89.867841,NaN,117.558022,NaN,NaN,113.901869,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,Jeff Samardzija,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,95.292767,102.251407,90.328467,111.682243,99.458395,102.799228,NaN,90.005522,Colombia
195,Andrew Cashner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,92.000000,NaN,111.834962,NaN,100.481348,118.300654,NaN,USA
196,Jose Quintana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,98.500000,102.948526,110.140708,98.557692,96.174283,100.516944,119.298246,Mexico
197,Chris Tillman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,97.040272,97.537422,108.092485,99.418605,NaN,NaN,NaN,USA
198,Marco Estrada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,95.872170,81.215470,80.113636,105.376344,NaN,NaN,Mexico

In [13]:
pitching_whip.groupby(by="BirthCountry").mean()

,whip00,whip01,whip02,whip03,whip04,whip05,whip06,whip07,whip08,whip09,whip10,whip11,whip12,whip13,whip14,whip15,whip16,whip17,whip18,whip19
BirthCountry,,,,,,,,,,,,,,,,,,,,
Aruba,119.126406,NaN,107.881773,97.791798,119.895288,108.366086,127.544910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Canada,92.307692,101.015500,101.420872,105.993341,85.450346,105.022831,108.548168,NaN,NaN,NaN,NaN,112.365591,100.959112,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Colombia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.292767,101.611665,90.865591,105.791171,93.346219,103.765377,74.771690,90.352933
Cuba,112.916667,123.342175,113.425926,102.960103,100.655324,104.509685,112.759826,127.225476,150.000000,125.000000,107.007576,118.218161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dominican Republic,111.555722,100.213624,92.523870,97.271823,105.800944,109.141450,109.133272,112.098644,103.706234,102.240147,97.071110,95.566100,96.866172,101.236440,93.910449,100.675298,104.133611,102.439024,107.603093,NaN
Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.257862,89.344805,NaN,99.436187,93.906094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jamaica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.214651,NaN,110.936682,NaN,113.288719,125.725339,NaN,NaN,NaN,NaN
Japan,119.537921,131.578947,133.024487,95.975232,124.043716,110.138249,123.216602,NaN,98.262758,91.133005,101.860921,98.989899,90.005233,89.342532,92.581238,89.610390,96.887550,99.564354,98.076923,95.086087
Mexico,105.069124,124.535316,106.516377,105.694037,NaN,122.222222,131.355932,NaN,110.522833,110.943134,113.777877,106.995885,NaN,96.435430,99.778072,96.687860,92.248646,107.346415,100.516944,119.298246
Nicaragua,NaN,NaN,100.429185,NaN,106.751055,109.038143,106.721163,110.849057,103.746398,105.466593,82.859848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Puerto Rico,94.680851,105.357947,95.614943,104.008778,103.662456,106.210621,NaN,NaN,118.718593,NaN,NaN,109.689214,112.426035,110.994214,115.289461,118.949537,112.447699,NaN,NaN,NaN
USA,107.427006,104.596003,103.064084,108.078806,108.654610,107.879964,110.706841,109.410128,107.775293,103.887163,103.991471,104.915946,103.663304,102.852916,102.225253,100.381360,101.202780,102.785442,95.996381,99.257509
Venezuela,105.532787,93.492209,99.903961,93.731849,100.554810,101.487343,106.764026,108.409169,106.990045,108.526777,102.667135,91.774991,98.037424,104.562857,95.178879,109.589041,107.284020,86.069652,103.508772,NaN

In [14]:
pitching_era = pd.read_csv('final_data/FINAL_pitching_age.csv', encoding='utf-8')

In [15]:
pitching_era.drop(pitching_era.columns.difference(['PLAYER','ERA00', 'ERA01', 'ERA02', 'ERA03', 'ERA04', 'ERA05',
                                                          'ERA06', 'ERA07','ERA08', 'ERA09', 'ERA10', 'ERA11', 'ERA12', 'ERA13',
                                                          'ERA14', 'ERA15','ERA16', 'ERA17', 'ERA18', 'ERA19','BirthCountry']),1, inplace=True)

In [16]:
pitching_era.groupby(by="BirthCountry").mean()

,ERA00,ERA01,ERA02,ERA03,ERA04,ERA05,ERA06,ERA07,ERA08,ERA09,ERA10,ERA11,ERA12,ERA13,ERA14,ERA15,ERA16,ERA17,ERA18,ERA19
BirthCountry,,,,,,,,,,,,,,,,,,,,
Aruba,4.760,NaN,4.210,3.590000,4.710000,4.900000,5.710000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Canada,3.200,3.310000,3.480,3.990000,3.210000,3.990000,4.030000,NaN,NaN,NaN,NaN,4.550000,3.720000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Colombia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.810000,3.770000,2.940000,4.500000,3.510000,4.455000,3.940000,3.665000
Cuba,3.750,5.240000,4.380,3.200000,4.550000,3.795000,4.550000,5.250000,6.050000,5.440000,3.66000,4.470000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dominican Republic,4.650,3.493333,3.296,3.257500,4.272500,4.007500,4.148571,3.986250,3.805556,3.661429,3.33125,3.347778,3.291429,4.007143,3.421667,3.870000,3.845000,5.430000,5.550000,NaN
Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.130000,3.390000,NaN,3.64000,3.540000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jamaica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.19000,NaN,4.230000,NaN,3.520000,4.400000,NaN,NaN,NaN,NaN
Japan,4.560,5.020000,5.710,2.900000,5.700000,3.770000,4.890000,NaN,3.700000,3.950000,3.91000,3.320000,3.900000,3.325000,3.640000,3.510000,3.070000,4.300000,3.750000,4.215000
Mexico,4.480,5.170000,3.875,4.475000,NaN,5.620000,6.360000,NaN,5.290000,3.966667,4.32500,4.760000,NaN,3.685000,3.722500,3.410000,3.503333,4.806667,4.030000,4.680000
Nicaragua,NaN,NaN,3.010,NaN,3.490000,2.940000,2.980000,3.180000,3.540000,4.120000,2.76000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Puerto Rico,3.880,4.090000,2.965,4.195000,4.130000,3.480000,NaN,NaN,4.340000,NaN,NaN,4.000000,3.430000,2.650000,4.090000,4.160000,3.430000,NaN,NaN,NaN
USA,4.312,4.012439,3.810,4.122281,4.202063,4.080769,4.342742,4.170926,4.018929,3.815818,3.85400,3.851970,3.913692,3.708750,3.522500,3.639592,3.970263,4.018056,3.584412,3.722222
Venezuela,5.010,3.290000,4.095,3.720000,4.100000,3.473333,4.257500,3.907500,4.102500,3.935000,4.04000,3.260000,4.063333,3.770000,3.610000,3.790000,4.570000,2.960000,4.210000,NaN

In [17]:
pitching_age.to_csv('final_data/Pitching_Country_Age')
pitching_era.to_csv('final_data/Pitching_Country_ERA')
pitching_whip.to_csv('final_data/Pitching_Country_whip')

In [3]:
batting = pd.read_csv('final_data/FINAL_batting_age.csv',encoding='utf-8')