In [1]:
import pandas as pd

In [2]:
pitching = pd.read_csv('merged_data/merged_pitch_data_10.12.2020.csv')
pitching.columns

Index(['_x', 'PLAYER', 'YRS00', 'YRS01', 'YRS02', 'YRS03', 'YRS04', 'YRS05',
       'YRS06', 'YRS07',
       ...
       'IP18', 'H18', 'W18', 'ERA18', 'whip18', 'IP19', 'H19', 'W19', 'ERA19',
       'whip19'],
      dtype='object', length=122)

In [3]:
# Drop all columns except the following

pitching.drop(pitching.columns.difference(['PLAYER','YRS00', 'YRS01', 'YRS02', 'YRS03', 'YRS04', 'YRS05',
       'YRS06', 'YRS07','YRS08', 'YRS09', 'YRS10', 'YRS11', 'YRS12', 'YRS13',
       'YRS14', 'YRS15','YRS16', 'YRS17', 'YRS18', 'YRS19']),1, inplace=True)

In [4]:
pitching.head()

,PLAYER,YRS00,YRS01,YRS02,YRS03,YRS04,YRS05,YRS06,YRS07,YRS08,...,YRS10,YRS11,YRS12,YRS13,YRS14,YRS15,YRS16,YRS17,YRS18,YRS19
0,Pedro Martinez,18.0,NaN,18.0,18.0,18.0,18.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Kevin Brown,19.0,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Randy Johnson,22.0,22.0,22.0,NaN,22.0,22.0,22.0,NaN,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Jeff C. D'Amico,8.0,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Greg Maddux,23.0,23.0,23.0,23.0,23.0,23.0,23.0,23.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
pitching['count'] = pitching.count(axis=1)

PLAYER     object
YRS00     float64
YRS01     float64
YRS02     float64
YRS03     float64
YRS04     float64
YRS05     float64
YRS06     float64
YRS07     float64
YRS08     float64
YRS09     float64
YRS10     float64
YRS11     float64
YRS12     float64
YRS13     float64
YRS14     float64
YRS15     float64
YRS16     float64
YRS17     float64
YRS18     float64
YRS19     float64
count       int64
dtype: object

In [12]:
# players need to have played at least 5 years within window
df = pitching[pitching['count']>= 6]
df

,PLAYER,YRS00,YRS01,YRS02,YRS03,YRS04,YRS05,YRS06,YRS07,YRS08,...,YRS11,YRS12,YRS13,YRS14,YRS15,YRS16,YRS17,YRS18,YRS19,count
0,Pedro Martinez,18.0,NaN,18.0,18.0,18.0,18.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
2,Randy Johnson,22.0,22.0,22.0,NaN,22.0,22.0,22.0,NaN,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
4,Greg Maddux,23.0,23.0,23.0,23.0,23.0,23.0,23.0,23.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
5,Mike Hampton,16.0,16.0,16.0,16.0,16.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
6,Al Leiter,19.0,19.0,19.0,19.0,19.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Jacob deGrom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6.0,NaN,6.0,6.0,6.0,6
428,Gerrit Cole,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7.0,NaN,7.0,7.0,7.0,6
432,Masahiro Tanaka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6.0,6.0,6.0,6.0,6.0,7
435,Mike Fiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9.0,9.0,9.0,9.0,9.0,7
437,Kyle Hendricks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6.0,6.0,NaN,6.0,6.0,6

In [15]:
pitcher_list = df['PLAYER'].tolist()

In [24]:
api_list = []

In [25]:
for pitcher in pitcher_list:
    j = pitcher.replace(' ', '%25')
    api_list.append(j)
api_list

['Pedro%25Martinez',
 'Randy%25Johnson',
 'Greg%25Maddux',
 'Mike%25Hampton',
 'Al%25Leiter',
 'Tom%25Glavine',
 'Ryan%25Dempster',
 'Roger%25Clemens',
 'Woody%25Williams',
 'Livan%25Hernandez',
 'Mike%25Mussina',
 'Curt%25Schilling',
 'Kris%25Benson',
 'Bartolo%25Colon',
 'Kirk%25Rueter',
 'Brian%25Anderson',
 'Javier%25Vazquez',
 'Jamey%25Wright',
 'David%25Wells',
 'Tim%25Hudson',
 'Shawn%25Estes',
 'Jeff%25Weaver',
 'Andy%25Pettitte',
 'Randy%25Wolf',
 'Jon%25Lieber',
 'Brad%25Radke',
 'Rick%25Helling',
 'Kenny%25Rogers',
 'Esteban%25Loaiza',
 'Kevin%25Millwood',
 'Hideo%25Nomo',
 'Mark%25Redman',
 'Steve%25Trachsel',
 'Sidney%25Ponson',
 'Eric%25Milton',
 'Jeff%25Suppan',
 'Russ%25Ortiz',
 'Matt%25Clement',
 'Kelvim%25Escobar',
 'Mark%25Mulder',
 'Tim%25Wakefield',
 'Jamie%25Moyer',
 'Chris%25Carpenter',
 'Jose%25Lima',
 'Freddy%25Garcia',
 'Matt%25Morris',
 'Mark%25Buehrle',
 'Barry%25Zito',
 'Cory%25Lidle',
 'Brad%25Penny',
 'Jarrod%25Washburn',
 'A.J.%25Burnett',
 'Jason%25Schmidt',
 'Jason%25Johnson',
 'Ramon%25Ortiz',
 'CC%25Sabathia',
 'Doug%25Davis',
 'Ben%25Sheets',
 'Paul%25Wilson',
 'Derek%25Lowe',
 'Roy%25Halladay',
 'Odalis%25Perez',
 'Roy%25Oswalt',
 'Joel%25Pineiro',
 'Vicente%25Padilla',
 'Rodrigo%25Lopez',
 'Kip%25Wells',
 'Brian%25Lawrence',
 'Paul%25Byrd',
 'Kyle%25Lohse',
 'Miguel%25Batista',
 'Josh%25Fogg',
 'Brett%25Tomko',
 'Jason%25Jennings',
 'Jon%25Garland',
 'Brandon%25Webb',
 'Johan%25Santana',
 'Carlos%25Zambrano',
 'Dontrelle%25Willis',
 'Jake%25Peavy',
 'Carl%25Pavano',
 'Ted%25Lilly',
 'Brett%25Myers',
 'Gil%25Meche',
 'John%25Lackey',
 'Mark%25Hendrickson',
 'Jeremy%25Bonderman',
 'Jake%25Westbrook',
 'Jason%25Marquis',
 'Josh%25Beckett',
 'Bronson%25Arroyo',
 'Carlos%25Silva',
 'Aaron%25Harang',
 'Nate%25Robertson',
 'Cliff%25Lee',
 'Jose%25Contreras',
 'Joe%25Blanton',
 'Dan%25Haren',
 'Scott%25Kazmir',
 'Chris%25Capuano',
 'Chris%25Young',
 'Jeff%25Francis',
 'Zack%25Greinke',
 'Josh%25Johnson',
 'Justin%25Verlander',
 'Matt%25Cain',
 'Aaron%25Cook',
 'Ervin%25Santana',
 'Dave%25Bush',
 'Zach%25Duke',
 'Felix%25Hernandez',
 'Paul%25Maholm',
 'Roberto%25Hernandez',
 'Cole%25Hamels',
 'Jeremy%25Guthrie',
 'Adam%25Wainwright',
 'James%25Shields',
 'Jered%25Weaver',
 'Shaun%25Marcum',
 'Wandy%25Rodriguez',
 'Edwin%25Jackson',
 'Tim%25Lincecum',
 'Chad%25Billingsley',
 'Jon%25Lester',
 'Edinson%25Volquez',
 'John%25Danks',
 'Joe%25Saunders',
 'Ricky%25Nolasco',
 'Matt%25Garza',
 'Mike%25Pelfrey',
 'Hiroki%25Kuroda',
 'Gavin%25Floyd',
 'Ubaldo%25Jimenez',
 'Johnny%25Cueto',
 'Scott%25Feldman',
 'Kyle%25Kendrick',
 'Clayton%25Kershaw',
 'J.A.%25Happ',
 'Yovani%25Gallardo',
 'Kevin%25Correia',
 'Rick%25Porcello',
 'Max%25Scherzer',
 'Ricky%25Romero',
 'Jason%25Hammel',
 'Clayton%25Richard',
 'Trevor%25Cahill',
 'Jaime%25Garcia',
 'David%25Price',
 'R.A.%25Dickey',
 'Mat%25Latos',
 'Gio%25Gonzalez',
 'C.J.%25Wilson',
 'Anibal%25Sanchez',
 'Francisco%25Liriano',
 'Colby%25Lewis',
 'Jason%25Vargas',
 'Ian%25Kennedy',
 'Doug%25Fister',
 'Phil%25Hughes',
 'Jon%25Niese',
 'Justin%25Masterson',
 'Bud%25Norris',
 'Jeremy%25Hellickson',
 'Jordan%25Zimmermann',
 'Madison%25Bumgarner',
 'Jhoulys%25Chacin',
 'Ivan%25Nova',
 'Charlie%25Morton',
 'Mike%25Leake',
 'Derek%25Holland',
 'Chris%25Sale',
 'Stephen%25Strasburg',
 'Wade%25Miley',
 'Lance%25Lynn',
 'Matt%25Moore',
 'Jeff%25Samardzija',
 'Yu%25Darvish',
 'Mike%25Minor',
 'Andrew%25Cashner',
 'Julio%25Teheran',
 'Patrick%25Corbin',
 'Jose%25Quintana',
 'Chris%25Tillman',
 'Dallas%25Keuchel',
 'Corey%25Kluber',
 'Jake%25Arrieta',
 'Alex%25Wood',
 'Tanner%25Roark',
 'Sonny%25Gray',
 'Chris%25Archer',
 'Jake%25Odorizzi',
 'Trevor%25Bauer',
 'Marco%25Estrada',
 'Kyle%25Gibson',
 'Jacob%25deGrom',
 'Gerrit%25Cole',
 'Masahiro%25Tanaka',
 'Mike%25Fiers',
 'Kyle%25Hendricks']

In [26]:
api_df = pd.DataFrame(api_list)
api_df

                     0
0     Pedro%25Martinez
1      Randy%25Johnson
2        Greg%25Maddux
3       Mike%25Hampton
4          Al%25Leiter
..                 ...
194     Jacob%25deGrom
195      Gerrit%25Cole
196  Masahiro%25Tanaka
197       Mike%25Fiers
198   Kyle%25Hendricks

[199 rows x 1 columns]

In [27]:
api_df.to_csv('player_list/pitcher_list.csv', index=False)

In [33]:
pitcher_df =pd.DataFrame(pitcher_list)
pitcher_df.columns = ['PLAYER']
pitcher_df

              PLAYER
0     Pedro Martinez
1      Randy Johnson
2        Greg Maddux
3       Mike Hampton
4          Al Leiter
..               ...
194     Jacob deGrom
195      Gerrit Cole
196  Masahiro Tanaka
197       Mike Fiers
198   Kyle Hendricks

[199 rows x 1 columns]

In [35]:
# call in original df without any altering and merge with filtered list
og_df= pd.read_csv('merged_data/merged_pitch_data_10.12.2020.csv')
filtered_pitcher = pd.merge(pitcher_df,og_df,how='left', on='PLAYER')
filtered_pitcher

,PLAYER,_x,YRS00,YRS01,YRS02,YRS03,YRS04,YRS05,YRS06,YRS07,...,IP18,H18,W18,ERA18,whip18,IP19,H19,W19,ERA19,whip19
0,Pedro Martinez,1,18.0,NaN,18.0,18.0,18.0,18.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Randy Johnson,3,22.0,22.0,22.0,NaN,22.0,22.0,22.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Greg Maddux,5,23.0,23.0,23.0,23.0,23.0,23.0,23.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mike Hampton,6,16.0,16.0,16.0,16.0,16.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Al Leiter,7,19.0,19.0,19.0,19.0,19.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,Jacob deGrom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,217.0,152.0,10.0,1.70,74.654378,204.0,154.0,11.0,2.43,80.882353
195,Gerrit Cole,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,200.1,143.0,15.0,2.88,78.960520,212.1,142.0,20.0,2.50,76.379066
196,Masahiro Tanaka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,156.0,141.0,12.0,3.75,98.076923,182.0,186.0,11.0,4.45,108.241758
197,Mike Fiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,172.0,166.0,12.0,3.56,103.488372,184.2,166.0,15.0,3.90,98.262758
198,Kyle Hendricks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,199.0,184.0,14.0,3.44,99.497487,177.0,168.0,11.0,3.46,101.129944

In [36]:
no_year = filtered_pitcher.drop(['_x','YRS00', 'YRS01', 'YRS02', 'YRS03', 'YRS04', 'YRS05',
       'YRS06', 'YRS07','YRS08', 'YRS09', 'YRS10', 'YRS11', 'YRS12', 'YRS13',
       'YRS14', 'YRS15','YRS16', 'YRS17', 'YRS18', 'YRS19'], axis=1)
no_year

,PLAYER,IP00,H00,W00,ERA00,whip00,IP01,H01,W01,ERA01,...,IP18,H18,W18,ERA18,whip18,IP19,H19,W19,ERA19,whip19
0,Pedro Martinez,217.0,128.0,18.0,1.74,67.281106,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Randy Johnson,248.2,202.0,19.0,2.64,89.041096,249.2,181.0,21.0,2.49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Greg Maddux,249.1,225.0,19.0,3.00,97.952629,233.0,220.0,17.0,3.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mike Hampton,217.2,194.0,15.0,3.14,96.224678,203.0,236.0,14.0,5.41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Al Leiter,208.0,176.0,16.0,3.20,92.307692,187.1,178.0,11.0,3.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,Jacob deGrom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,217.0,152.0,10.0,1.70,74.654378,204.0,154.0,11.0,2.43,80.882353
195,Gerrit Cole,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,200.1,143.0,15.0,2.88,78.960520,212.1,142.0,20.0,2.50,76.379066
196,Masahiro Tanaka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,156.0,141.0,12.0,3.75,98.076923,182.0,186.0,11.0,4.45,108.241758
197,Mike Fiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,172.0,166.0,12.0,3.56,103.488372,184.2,166.0,15.0,3.90,98.262758
198,Kyle Hendricks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,199.0,184.0,14.0,3.44,99.497487,177.0,168.0,11.0,3.46,101.129944

In [37]:
no_year.drop(no_year.columns.difference(['PLAYER','whip00', 'whip01', 'whip02', 'whip03', 'whip04', 'whip05',
       'whip06', 'whip07','whip08', 'whip09', 'whip10', 'whip11', 'whip12', 'whip13',
       'whip14', 'whip15','whip16', 'whip17', 'whip18', 'whip19', 'ERA00', 'ERA01', 'ERA02', 'ERA03', 'ERA04', 'ERA05',
       'ERA06', 'ERA07','ERA08', 'ERA09', 'ERA10', 'ERA11', 'ERA12', 'ERA13',
       'ERA14', 'ERA15','ERA16', 'ERA17', 'ERA18', 'ERA19']),1, inplace=True)
no_year

,PLAYER,ERA00,whip00,ERA01,whip01,ERA02,whip02,ERA03,whip03,ERA04,...,ERA15,whip15,ERA16,whip16,ERA17,whip17,ERA18,whip18,ERA19,whip19
0,Pedro Martinez,1.74,67.281106,NaN,NaN,2.26,82.370668,2.22,86.466165,3.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Randy Johnson,2.64,89.041096,2.49,81.059390,2.32,85.000000,NaN,NaN,2.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Greg Maddux,3.00,97.952629,3.05,101.716738,2.62,105.474636,3.96,110.499771,4.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mike Hampton,3.14,96.224678,5.41,123.152709,6.15,131.874299,3.84,105.263158,4.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Al Leiter,3.20,92.307692,3.31,101.015500,3.48,101.420872,3.99,105.993341,3.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,Jacob deGrom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.54,85.340314,NaN,NaN,3.53,96.966683,1.70,74.654378,2.43,80.882353
195,Gerrit Cole,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.60,97.115385,NaN,NaN,4.26,103.940887,2.88,78.960520,2.50,76.379066
196,Masahiro Tanaka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.51,89.610390,3.07,96.887550,4.74,108.366086,3.75,98.076923,4.45,108.241758
197,Mike Fiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.69,93.836757,4.48,117.717004,5.22,107.772698,3.56,103.488372,3.90,98.262758
198,Kyle Hendricks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.95,96.666667,2.13,83.157895,NaN,NaN,3.44,99.497487,3.46,101.129944

In [38]:
no_year.to_csv('munged_data/munged_pitcher.csv', index=False)