In [1]:
import pandas as pd

In [2]:
pitching = pd.read_csv('munged_data/munged_pitcher.csv',encoding='utf-8')
batting = pd.read_csv('munged_data/munged_batting.csv',encoding='utf-8')
api =  pd.read_csv('api_data/munged_api.csv',encoding='utf-8')

In [3]:
pitching

,PLAYER,ERA00,whip00,ERA01,whip01,ERA02,whip02,ERA03,whip03,ERA04,...,ERA15,whip15,ERA16,whip16,ERA17,whip17,ERA18,whip18,ERA19,whip19
0,Pedro Martinez,1.74,67.281106,NaN,NaN,2.26,82.370668,2.22,86.466165,3.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Randy Johnson,2.64,89.041096,2.49,81.059390,2.32,85.000000,NaN,NaN,2.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Greg Maddux,3.00,97.952629,3.05,101.716738,2.62,105.474636,3.96,110.499771,4.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mike Hampton,3.14,96.224678,5.41,123.152709,6.15,131.874299,3.84,105.263158,4.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Al Leiter,3.20,92.307692,3.31,101.015500,3.48,101.420872,3.99,105.993341,3.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,Jacob deGrom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.54,85.340314,NaN,NaN,3.53,96.966683,1.70,74.654378,2.43,80.882353
195,Gerrit Cole,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.60,97.115385,NaN,NaN,4.26,103.940887,2.88,78.960520,2.50,76.379066
196,Masahiro Tanaka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.51,89.610390,3.07,96.887550,4.74,108.366086,3.75,98.076923,4.45,108.241758
197,Mike Fiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.69,93.836757,4.48,117.717004,5.22,107.772698,3.56,103.488372,3.90,98.262758
198,Kyle Hendricks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.95,96.666667,2.13,83.157895,NaN,NaN,3.44,99.497487,3.46,101.129943

In [4]:
batting

,PLAYER,BA00,BA01,BA02,BA03,BA04,BA05,BA06,BA07,BA08,...,BA10,BA11,BA12,BA13,BA14,BA15,BA16,BA17,BA18,BA19
0,Nomar Garciaparra,0.372,NaN,0.310,0.301,0.308,0.283,0.303,0.283,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Todd Helton,0.372,0.336,0.329,0.358,0.347,0.320,0.302,0.320,0.264,...,0.256,0.302,0.238,0.249,NaN,NaN,NaN,NaN,NaN,NaN
2,Moises Alou,0.355,0.331,0.275,0.280,0.293,0.321,0.301,0.341,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Darin Erstad,0.355,0.258,0.283,0.252,0.295,0.273,NaN,0.248,0.276,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Manny Ramirez,0.351,0.306,0.349,0.325,0.308,0.292,0.321,0.296,0.332,...,0.298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,J.T. Realmuto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.259,0.303,0.278,0.277,0.275
596,Tucker Barnhart,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.252,0.257,0.270,0.248,0.231
597,Hernan Perez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.243,0.272,0.259,0.253,0.228
598,Addison Russell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.242,0.238,0.239,0.250,0.237
599,Joc Pederson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.210,0.246,0.212,0.248,0.249

In [5]:
api

,MLBAMID,PLAYER,FirstName,LastName,BirthDate,Team,Jersey,BirthCity,BirthState,BirthCountry,ProDebut
0,502624.0,Chase Anderson,Chase,Anderson,1987-11-30T00:00:00,TOR,22.0,Wichita Falls,TX,USA,2014-05-11T00:00:00
1,502239.0,Trevor Cahill,Trevor,Cahill,1988-03-01T00:00:00,SF,53.0,Oceanside,CA,USA,2009-04-07T00:00:00
2,605177.0,Andrew Chafin,Andrew,Chafin,1990-06-17T00:00:00,CHC,39.0,Kettering,OH,USA,2014-08-13T00:00:00
3,571578.0,Patrick Corbin,Patrick,Corbin,1989-07-19T03:00:00,WSH,46.0,Clay,NY,USA,2012-04-30T00:00:00
4,543339.0,Daniel Hudson,Daniel,Hudson,1987-03-09T03:00:00,WSH,44.0,Lynchburg,VA,USA,2009-09-04T00:00:00
...,...,...,...,...,...,...,...,...,...,...,...
1340,596825.0,Robel García,Robel,García,1993-03-28T00:00:00,CIN,16.0,Las Matas de Farfan,NaN,Dominican Republic,2019-07-03T00:00:00
1341,664054.0,Cody Stashak,Cody,Stashak,1994-06-04T00:00:00,MIN,61.0,Somers Point,NJ,USA,2019-07-23T00:00:00
1342,677976.0,Randy Dobnak,Randy,Dobnak,1995-01-17T03:00:00,MIN,68.0,South Park,PA,USA,2019-08-09T00:00:00
1343,621086.0,James Marvel,James,Marvel,1993-09-17T03:00:00,PIT,74.0,San Francisco,CA,USA,2019-09-08T00:00:00
1344,650668.0,Humberto Mejía,Humberto,Mejía,1997-03-03T00:00:00,ARI,62.0,Panama City,NaN,Panama,2020-08-07T00:00:00

In [6]:
pitching_merge = pitching.merge(api, how= "left", on="PLAYER")
pitching_merge

,PLAYER,ERA00,whip00,ERA01,whip01,ERA02,whip02,ERA03,whip03,ERA04,...,MLBAMID,FirstName,LastName,BirthDate,Team,Jersey,BirthCity,BirthState,BirthCountry,ProDebut
0,Pedro Martinez,1.74,67.281106,NaN,NaN,2.26,82.370668,2.22,86.466165,3.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Randy Johnson,2.64,89.041096,2.49,81.059390,2.32,85.000000,NaN,NaN,2.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Greg Maddux,3.00,97.952629,3.05,101.716738,2.62,105.474636,3.96,110.499771,4.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mike Hampton,3.14,96.224678,5.41,123.152709,6.15,131.874299,3.84,105.263158,4.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Al Leiter,3.20,92.307692,3.31,101.015500,3.48,101.420872,3.99,105.993341,3.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,Jacob deGrom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,594798.0,Jacob,deGrom,1988-06-19T03:00:00,NYM,48.0,DeLand,FL,USA,2014-05-15T00:00:00
195,Gerrit Cole,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,543037.0,Gerrit,Cole,1990-09-08T00:00:00,NYY,45.0,Newport Beach,CA,USA,2013-06-11T00:00:00
196,Masahiro Tanaka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,547888.0,Masahiro,Tanaka,1988-11-01T00:00:00,NYY,19.0,Itami,NaN,Japan,2014-04-04T00:00:00
197,Mike Fiers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,571666.0,Mike,Fiers,1985-06-15T00:00:00,OAK,50.0,Hollywood,FL,USA,2011-09-14T00:00:00
198,Kyle Hendricks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,543294.0,Kyle,Hendricks,1989-12-07T03:00:00,CHC,28.0,Newport Beach,CA,USA,2014-07-10T00:00:00

In [7]:
pitch = pitching_merge[pitching_merge.MLBAMID.isnull()]
pitch

,PLAYER,ERA00,whip00,ERA01,whip01,ERA02,whip02,ERA03,whip03,ERA04,...,MLBAMID,FirstName,LastName,BirthDate,Team,Jersey,BirthCity,BirthState,BirthCountry,ProDebut
0,Pedro Martinez,1.74,67.281106,NaN,NaN,2.26,82.370668,2.22,86.466165,3.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Randy Johnson,2.64,89.041096,2.49,81.059390,2.32,85.000000,NaN,NaN,2.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Greg Maddux,3.00,97.952629,3.05,101.716738,2.62,105.474636,3.96,110.499771,4.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mike Hampton,3.14,96.224678,5.41,123.152709,6.15,131.874299,3.84,105.263158,4.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Al Leiter,3.20,92.307692,3.31,101.015500,3.48,101.420872,3.99,105.993341,3.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,Jeff Samardzija,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,Andrew Cashner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,Jose Quintana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,Chris Tillman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,Marco Estrada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
batting_merge = batting.merge(api, how= "left", on="PLAYER")
batting_merge

,PLAYER,BA00,BA01,BA02,BA03,BA04,BA05,BA06,BA07,BA08,...,MLBAMID,FirstName,LastName,BirthDate,Team,Jersey,BirthCity,BirthState,BirthCountry,ProDebut
0,Nomar Garciaparra,0.372,NaN,0.310,0.301,0.308,0.283,0.303,0.283,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Todd Helton,0.372,0.336,0.329,0.358,0.347,0.320,0.302,0.320,0.264,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Moises Alou,0.355,0.331,0.275,0.280,0.293,0.321,0.301,0.341,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Darin Erstad,0.355,0.258,0.283,0.252,0.295,0.273,NaN,0.248,0.276,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Manny Ramirez,0.351,0.306,0.349,0.325,0.308,0.292,0.321,0.296,0.332,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,J.T. Realmuto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,592663.0,J.T.,Realmuto,1991-03-18T03:00:00,PHI,10.0,Del City,OK,USA,2014-06-05T00:00:00
596,Tucker Barnhart,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,571466.0,Tucker,Barnhart,1991-01-07T03:00:00,CIN,16.0,Indianapolis,IN,USA,2014-04-03T00:00:00
597,Hernan Perez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
598,Addison Russell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
599,Joc Pederson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,592626.0,Joc,Pederson,1992-04-21T00:00:00,LAD,31.0,Palo Alto,CA,USA,2014-09-01T00:00:00

In [9]:
bat = batting_merge[batting_merge.MLBAMID.isnull()]
bat

,PLAYER,BA00,BA01,BA02,BA03,BA04,BA05,BA06,BA07,BA08,...,MLBAMID,FirstName,LastName,BirthDate,Team,Jersey,BirthCity,BirthState,BirthCountry,ProDebut
0,Nomar Garciaparra,0.372,NaN,0.310,0.301,0.308,0.283,0.303,0.283,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Todd Helton,0.372,0.336,0.329,0.358,0.347,0.320,0.302,0.320,0.264,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Moises Alou,0.355,0.331,0.275,0.280,0.293,0.321,0.301,0.341,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Darin Erstad,0.355,0.258,0.283,0.252,0.295,0.273,NaN,0.248,0.276,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Manny Ramirez,0.351,0.306,0.349,0.325,0.308,0.292,0.321,0.296,0.332,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581,Enrique Hernandez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
591,Cesar Hernandez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
592,Miguel Sano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,Hernan Perez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
598,Addison Russell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
pitch.to_csv('final_data/pitch_no_birthdate.csv', index=False)
bat.to_csv('final_data/bat_no_birthdate.csv', index=False)

In [11]:
final_pitch = pitching_merge[pitching_merge.MLBAMID.notnull()]
final_bat = batting_merge[batting_merge.MLBAMID.notnull()]
final_pitch.to_csv('final_data/pitch_birthdate.csv', index=False)
final_bat.to_csv('final_data/bat_birthdate.csv', index=False)