In [1]:
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup

In [2]:
url = "https://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2018/start/1"
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

In [3]:
header = soup.find('tr', attrs={'class':'colhead'})

columns = [col.get_text() for col in header.find_all('td')]

final_df = pd.DataFrame(columns=columns)
final_df

Empty DataFrame
Columns: [, PLAYER, YRS, G, AB, R, H, 2B, 3B, HR, RBI, BB, SO, SB, CS, BA]
Index: []

In [4]:
final_df =pd.DataFrame(columns=final_df.columns)
for i in range(1,500,50):

    url = "https://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2019/start/{}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')

    players = soup.find_all('tr', attrs={'class':re.compile('row player-10-')})
    for player in players:

        stats = [stat.get_text() for stat in player.find_all('td')]

        temp_df = pd.DataFrame(stats).transpose()
        temp_df.columns = columns

        final_df = pd.concat([final_df, temp_df], ignore_index=True)

season2019_df = final_df
season2019_df

,,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,1,Howie Kendrick,14,121,334,61,115,23,1,17,62,27,49,2,1,.344
1,2,Tim Anderson,4,123,498,81,167,32,0,18,56,15,109,17,5,.335
2,3,Luis Arraez,1,92,326,54,109,20,1,4,28,36,29,2,2,.334
3,4,Donovan Solano,6,81,215,27,71,13,1,4,23,10,49,0,1,.330
4,5,Christian Yelich,7,130,489,100,161,29,3,44,97,80,118,30,2,.329
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,342,Lewis Brinson,3,75,226,15,39,9,1,0,15,13,74,1,1,.173
342,343,Keon Broxton,5,100,204,24,34,4,0,6,16,20,104,10,6,.167
343,344,Mike Zunino,7,90,266,30,44,10,1,9,32,20,98,0,0,.165
344,345,Jeff Mathis,15,86,228,17,36,9,0,2,12,15,87,1,0,.158
345,346,Travis Shaw,5,86,230,22,36,5,0,7,16,36,89,0,0,.157

In [5]:
season2019_df.to_csv('scraped_data/2019_stats.csv', index=False, sep=',', encoding='utf-8')

In [6]:
# Resets final_df to en empty df
final_df =pd.DataFrame(columns=final_df.columns)
for i in range(1,500,50):

    url = "https://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2018/start/{}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')

    players = soup.find_all('tr', attrs={'class':re.compile('row player-10-')})
    for player in players:

        stats = [stat.get_text() for stat in player.find_all('td')]

        temp_df = pd.DataFrame(stats).transpose()
        temp_df.columns = columns

        final_df = pd.concat([final_df, temp_df], ignore_index=True)

season2018_df = final_df
season2018_df

,,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,1,Mookie Betts,6,136,520,129,180,47,5,32,80,81,91,30,6,.346
1,2,J.D. Martinez,9,150,569,111,188,37,2,43,130,69,146,6,1,.330
2,3,Jeff McNeil,2,63,225,35,74,11,6,3,19,14,24,7,1,.329
3,4,Christian Yelich,7,147,574,118,187,34,7,36,110,68,135,22,4,.326
4,5,Jose Altuve,9,137,534,84,169,29,2,13,61,55,79,17,4,.316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,,Gary Sanchez,5,89,323,51,60,17,0,18,53,46,94,1,0,.186
327,328,Aaron Altherr,6,105,243,28,44,11,1,8,38,36,91,3,2,.181
328,329,Dexter Fowler,12,90,289,40,52,10,0,8,31,38,75,5,2,.180
329,330,Sandy Leon,8,89,265,30,47,12,0,5,22,15,75,1,0,.177
330,331,Chris Davis,12,128,470,40,79,12,0,16,49,41,192,2,0,.168

In [7]:
season2018_df.to_csv('scraped_data/2018_stats.csv', index=False, sep=',', encoding='utf-8')

In [8]:
final_df =pd.DataFrame(columns=final_df.columns)
for i in range(1,500,50):

    url = "https://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2017/start/{}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')

    players = soup.find_all('tr', attrs={'class':re.compile('row player-10-')})
    for player in players:

        stats = [stat.get_text() for stat in player.find_all('td')]

        temp_df = pd.DataFrame(stats).transpose()
        temp_df.columns = columns

        final_df = pd.concat([final_df, temp_df], ignore_index=True)

season2017_df = final_df
season2017_df

,,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,1,Jose Altuve,9,153,590,112,204,39,4,24,81,58,84,32,6,.346
1,2,Charlie Blackmon,9,159,644,137,213,35,14,37,104,65,135,14,10,.331
2,3,Avisail Garcia,8,136,518,75,171,27,5,18,80,33,111,5,3,.330
3,4,Daniel Murphy,11,144,534,94,172,43,3,23,93,52,77,2,0,.322
4,,Justin Turner,11,130,457,72,147,32,0,21,71,59,56,7,1,.322
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,326,Mike Napoli,12,124,425,60,82,11,1,29,66,49,163,1,2,.193
326,327,Chris Herrmann,8,106,226,35,41,7,0,10,27,29,67,5,0,.181
327,328,Tyler Saladino,5,79,253,23,45,9,2,0,10,23,67,5,4,.178
328,329,Danny Espinosa,8,93,266,30,46,10,0,6,31,21,109,4,5,.173
329,330,Adam Engel,3,97,301,34,50,11,3,6,21,19,117,8,1,.166

In [9]:
season2017_df.to_csv('scraped_data/2017_stats.csv', index=False, sep=',', encoding='utf-8')

In [10]:
final_df =pd.DataFrame(columns=final_df.columns)
for i in range(1,500,50):

    url = "https://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2016/start/{}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')

    players = soup.find_all('tr', attrs={'class':re.compile('row player-10-')})
    for player in players:

        stats = [stat.get_text() for stat in player.find_all('td')]

        temp_df = pd.DataFrame(stats).transpose()
        temp_df.columns = columns

        final_df = pd.concat([final_df, temp_df], ignore_index=True)

season2016_df = final_df
season2016_df

,,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,1,DJ LeMahieu,9,146,552,104,192,32,8,11,66,66,80,11,7,.348
1,2,Daniel Murphy,11,142,531,88,184,47,5,25,104,35,57,5,3,.347
2,3,Trea Turner,5,73,307,53,105,14,8,13,40,14,59,33,6,.342
3,4,Jose Altuve,9,161,640,108,216,42,5,24,96,60,70,30,10,.338
4,5,Joey Votto,13,158,556,101,181,34,2,29,97,108,120,8,1,.326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,327,Chris Coghlan,9,99,261,35,49,12,2,6,30,35,73,2,1,.188
327,328,Derek Norris,6,125,415,50,77,17,0,14,42,36,139,9,2,.186
328,,Curt Casali,6,84,226,23,42,10,0,8,25,25,82,0,0,.186
329,330,Jarrod Saltalamacchia,12,92,246,30,42,5,1,12,38,41,104,0,0,.171
330,331,Yan Gomes,8,74,251,22,42,11,1,9,34,9,69,0,0,.167

In [11]:
season2016_df.to_csv('scraped_data/2016_stats.csv', index=False, sep=',', encoding='utf-8')

In [12]:
final_df =pd.DataFrame(columns=final_df.columns)
for i in range(1,500,50):

    url = "https://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2015/start/{}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')

    players = soup.find_all('tr', attrs={'class':re.compile('row player-10-')})
    for player in players:

        stats = [stat.get_text() for stat in player.find_all('td')]

        temp_df = pd.DataFrame(stats).transpose()
        temp_df.columns = columns

        final_df = pd.concat([final_df, temp_df], ignore_index=True)

season2015_df = final_df
season2015_df

,,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,1,Miguel Cabrera,17,119,429,64,145,28,1,18,76,77,82,1,1,.338
1,2,Dee Strange-Gordon,9,145,615,88,205,24,8,4,46,25,91,58,20,.333
2,3,Bryce Harper,8,153,521,118,172,38,1,42,99,124,131,6,4,.330
3,4,Paul Goldschmidt,9,159,567,103,182,38,2,33,110,118,151,21,5,.321
4,,Chris Colabello,4,101,333,55,107,19,1,15,54,22,96,2,0,.321
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,328,Nick Swisher,12,76,219,14,43,9,0,6,25,35,54,0,0,.196
328,329,Chris Iannetta,14,92,272,28,51,10,0,10,34,41,83,0,1,.188
329,330,Rene Rivera,11,110,298,16,53,14,0,5,26,11,86,0,0,.178
330,331,Matt Joyce,12,93,247,17,43,12,1,5,21,30,67,0,3,.174
331,,Mike Zunino,7,112,350,28,61,11,0,11,28,21,132,0,1,.174

In [13]:
season2015_df.to_csv('scraped_data/2015_stats.csv', index=False, sep=',', encoding='utf-8')

In [14]:
final_df =pd.DataFrame(columns=final_df.columns)
for i in range(1,500,50):

    url = "https://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2014/start/{}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')

    players = soup.find_all('tr', attrs={'class':re.compile('row player-10-')})
    for player in players:

        stats = [stat.get_text() for stat in player.find_all('td')]

        temp_df = pd.DataFrame(stats).transpose()
        temp_df.columns = columns

        final_df = pd.concat([final_df, temp_df], ignore_index=True)

season2014_df = final_df
season2014_df

,,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,1,Jose Altuve,9,158,660,85,225,47,3,7,59,36,53,56,9,.341
1,2,Troy Tulowitzki,13,91,315,71,107,18,1,21,52,50,57,1,1,.340
2,,Justin Turner,11,109,288,46,98,21,1,7,43,28,58,6,1,.340
3,4,Victor Martinez,16,151,561,87,188,33,0,32,103,70,42,3,2,.335
4,5,Michael Brantley,11,156,611,94,200,45,2,20,97,52,56,23,1,.327
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,331,Jonathan Singleton,2,95,310,42,52,13,0,13,44,50,134,2,3,.168
331,332,Raul Ibanez,19,90,246,23,41,8,3,5,26,33,59,3,2,.167
332,333,Stephen Drew,12,85,271,18,44,14,1,7,26,27,75,1,1,.162
333,,Brandon Hicks,4,71,204,27,33,6,1,8,22,32,77,0,1,.162
334,335,Mike Olt,3,89,225,23,36,8,0,12,33,25,100,0,1,.160

In [15]:
season2014_df.to_csv('scraped_data/2014_stats.csv', index=False, sep=',', encoding='utf-8')

In [16]:
final_df =pd.DataFrame(columns=final_df.columns)
for i in range(1,500,50):

    url = "https://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2013/start/{}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')

    players = soup.find_all('tr', attrs={'class':re.compile('row player-10-')})
    for player in players:

        stats = [stat.get_text() for stat in player.find_all('td')]

        temp_df = pd.DataFrame(stats).transpose()
        temp_df.columns = columns

        final_df = pd.concat([final_df, temp_df], ignore_index=True)

season2013_df = final_df
season2013_df

,,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,1,Miguel Cabrera,17,148,555,103,193,26,1,44,137,90,94,3,0,.348
1,2,Hanley Ramirez,15,86,304,62,105,25,2,20,57,27,52,10,2,.345
2,3,Michael Cuddyer,15,130,489,74,162,31,3,20,84,46,100,10,3,.331
3,4,Joe Mauer,15,113,445,62,144,35,0,11,47,61,89,0,1,.324
4,,Scooter Gennett,7,69,213,29,69,11,2,6,21,10,42,2,1,.324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,336,Aaron Hicks,7,81,281,37,54,11,3,8,27,24,84,9,3,.192
336,337,B.J. Upton,12,126,391,30,72,14,0,9,26,44,151,12,5,.184
337,338,Jeff Mathis,15,73,232,14,42,7,1,5,29,21,76,0,0,.181
338,,Roger Bernadina,7,112,227,26,41,10,2,4,11,16,65,4,0,.181
339,340,Dan Uggla,10,136,448,60,80,10,3,22,55,77,171,2,0,.179

In [17]:
season2013_df.to_csv('scraped_data/2013_stats.csv', index=False, sep=',', encoding='utf-8')

In [18]:
final_df =pd.DataFrame(columns=final_df.columns)
for i in range(1,500,50):

    url = "https://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2012/start/{}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')

    players = soup.find_all('tr', attrs={'class':re.compile('row player-10-')})
    for player in players:

        stats = [stat.get_text() for stat in player.find_all('td')]

        temp_df = pd.DataFrame(stats).transpose()
        temp_df.columns = columns

        final_df = pd.concat([final_df, temp_df], ignore_index=True)

season2012_df = final_df
season2012_df

,,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,1,Melky Cabrera,15,113,459,84,159,25,10,11,60,36,63,13,5,.346
1,2,Joey Votto,13,111,374,59,126,44,0,14,56,94,85,5,3,.337
2,3,Buster Posey,11,148,530,78,178,39,1,24,103,69,96,1,1,.336
3,4,Miguel Cabrera,17,161,622,109,205,40,0,44,139,66,98,4,1,.330
4,5,Andrew McCutchen,11,157,593,107,194,29,6,31,96,70,132,20,12,.327
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,315,Brendan Ryan,10,141,407,42,79,19,3,3,31,44,98,11,5,.194
315,316,John Buck,11,106,343,29,66,15,1,12,41,49,103,0,0,.192
316,317,Chris Snyder,10,76,221,23,39,8,0,7,24,33,70,0,0,.176
317,318,Ryan Raburn,12,66,205,14,35,14,0,1,12,13,53,1,1,.171
318,319,Nick Hundley,12,58,204,14,32,7,1,3,22,15,56,0,3,.157

In [19]:
season2012_df.to_csv('scraped_data/2012_stats.csv', index=False, sep=',', encoding='utf-8')

In [20]:
final_df =pd.DataFrame(columns=final_df.columns)
for i in range(1,500,50):

    url = "https://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2011/start/{}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')

    players = soup.find_all('tr', attrs={'class':re.compile('row player-10-')})
    for player in players:

        stats = [stat.get_text() for stat in player.find_all('td')]

        temp_df = pd.DataFrame(stats).transpose()
        temp_df.columns = columns

        final_df = pd.concat([final_df, temp_df], ignore_index=True)

season2011_df = final_df
season2011_df

,,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,1,Miguel Cabrera,17,161,572,111,197,48,0,30,105,108,89,2,1,.344
1,2,Michael Young,14,159,631,88,213,41,6,11,106,47,78,6,2,.338
2,,Adrian Gonzalez,15,159,630,108,213,45,3,27,117,74,119,1,0,.338
3,4,Jose Reyes,16,126,537,101,181,31,16,7,44,43,41,39,7,.337
4,5,Ryan Braun,13,150,563,109,187,38,6,33,111,58,93,33,6,.332
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,329,Kelly Shoppach,9,87,221,23,39,3,0,11,22,19,79,0,0,.176
329,330,Jeff Mathis,15,93,247,18,43,12,0,3,22,15,75,1,2,.174
330,331,Drew Butera,10,93,234,19,39,9,1,2,23,11,42,0,0,.167
331,332,Adam Dunn,14,122,415,36,66,16,0,11,42,75,177,0,1,.159
332,333,Tyler Colvin,6,80,206,17,31,8,3,6,20,14,58,0,0,.150

In [21]:
season2011_df.to_csv('scraped_data/2011_stats.csv', index=False, sep=',', encoding='utf-8')

In [22]:
final_df =pd.DataFrame(columns=final_df.columns)
for i in range(1,500,50):

    url = "https://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2010/start/{}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')

    players = soup.find_all('tr', attrs={'class':re.compile('row player-10-')})
    for player in players:

        stats = [stat.get_text() for stat in player.find_all('td')]

        temp_df = pd.DataFrame(stats).transpose()
        temp_df.columns = columns

        final_df = pd.concat([final_df, temp_df], ignore_index=True)

season2010_df = final_df
season2010_df

,,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,1,Josh Hamilton,9,133,518,95,186,40,3,32,100,43,95,8,1,.359
1,2,Justin Morneau,14,81,296,53,102,25,1,18,56,50,62,0,0,.345
2,3,Carlos Gonzalez,12,145,587,111,197,34,9,34,117,40,135,26,8,.336
3,4,Miguel Cabrera,17,150,548,111,180,45,1,38,126,89,95,3,3,.328
4,5,Joe Mauer,15,137,510,88,167,43,1,9,75,65,53,1,4,.327
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324,,Adam Moore,9,60,205,12,40,6,0,4,15,8,63,0,1,.195
325,326,Luis Valbuena,11,91,275,22,53,12,0,2,24,28,61,1,2,.193
326,327,Nate McLouth,10,85,242,30,46,12,1,6,24,33,57,7,2,.190
327,328,Willie Harris,12,132,224,25,41,6,2,10,32,33,60,5,2,.183
328,329,Brandon Wood,5,81,226,20,33,2,0,4,14,6,71,1,0,.146

In [23]:
season2010_df.to_csv('scraped_data/2010_stats.csv', index=False, sep=',', encoding='utf-8')

In [24]:
final_df =pd.DataFrame(columns=final_df.columns)
for i in range(1,500,50):

    url = "https://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2009/start/{}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')

    players = soup.find_all('tr', attrs={'class':re.compile('row player-10-')})
    for player in players:

        stats = [stat.get_text() for stat in player.find_all('td')]

        temp_df = pd.DataFrame(stats).transpose()
        temp_df.columns = columns

        final_df = pd.concat([final_df, temp_df], ignore_index=True)

season2009_df = final_df
season2009_df

,,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,1,Joe Mauer,15,138,523,94,191,30,1,28,96,76,63,4,1,.365
1,2,Ichiro Suzuki,19,146,639,88,225,31,4,11,46,32,71,26,9,.352
2,3,Hanley Ramirez,15,151,576,101,197,42,1,24,106,61,101,27,8,.342
3,4,Derek Jeter,20,153,634,107,212,27,1,18,66,72,90,30,5,.334
4,5,Pablo Sandoval,12,153,572,79,189,44,5,25,90,52,83,5,5,.330
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,330,Luis Rodriguez,6,93,208,18,42,6,0,2,16,37,23,1,0,.202
330,,Alexi Casilla,9,80,228,25,46,7,3,0,17,22,36,11,0,.202
331,332,Jason Giambi,20,102,293,43,59,14,0,13,51,57,80,0,0,.201
332,,Bill Hall,11,110,334,32,67,20,1,8,36,27,120,2,2,.201
333,334,Brian Giles,15,61,225,18,43,10,1,2,23,26,31,1,0,.191

In [25]:
season2009_df.to_csv('scraped_data/2009_stats.csv', index=False, sep=',', encoding='utf-8')

In [26]:
final_df =pd.DataFrame(columns=final_df.columns)
for i in range(1,500,50):

    url = "https://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2008/start/{}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')

    players = soup.find_all('tr', attrs={'class':re.compile('row player-10-')})
    for player in players:

        stats = [stat.get_text() for stat in player.find_all('td')]

        temp_df = pd.DataFrame(stats).transpose()
        temp_df.columns = columns

        final_df = pd.concat([final_df, temp_df], ignore_index=True)

season2008_df = final_df
season2008_df

,,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,1,Chipper Jones,19,128,439,82,160,24,1,22,75,90,61,4,0,.364
1,2,Albert Pujols,19,148,524,100,187,44,0,37,116,104,54,7,3,.357
2,3,Manny Ramirez,19,153,552,102,183,36,1,37,121,87,124,3,0,.332
3,4,Joe Mauer,15,146,536,98,176,31,4,9,85,84,50,1,1,.328
4,5,Jerry Hairston Jr.,16,80,261,47,85,20,2,6,36,23,36,15,3,.326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,327,Wladimir Balentien,3,71,243,23,49,13,0,7,24,16,79,0,1,.202
327,328,Jeff Mathis,15,94,283,35,55,8,0,9,42,30,90,2,2,.194
328,329,Tony Pena,4,95,225,22,38,4,1,1,14,6,49,3,1,.169
329,330,Andy LaRoche,6,76,223,17,37,5,0,5,18,24,37,2,0,.166
330,331,Andruw Jones,17,75,209,21,33,8,1,3,14,27,76,0,1,.158

In [27]:
season2008_df.to_csv('scraped_data/2008_stats.csv', index=False, sep=',', encoding='utf-8')

In [28]:
final_df =pd.DataFrame(columns=final_df.columns)
for i in range(1,500,50):

    url = "https://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2007/start/{}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')

    players = soup.find_all('tr', attrs={'class':re.compile('row player-10-')})
    for player in players:

        stats = [stat.get_text() for stat in player.find_all('td')]

        temp_df = pd.DataFrame(stats).transpose()
        temp_df.columns = columns

        final_df = pd.concat([final_df, temp_df], ignore_index=True)

season2007_df = final_df
season2007_df

,,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,1,Magglio Ordonez,15,157,595,117,216,54,0,28,139,76,79,4,1,.363
1,2,Ichiro Suzuki,19,161,678,111,238,22,7,6,68,49,77,37,8,.351
2,3,Matt Kemp,14,98,292,47,100,12,5,10,42,16,66,10,5,.342
3,4,Moises Alou,17,87,328,51,112,19,1,13,49,27,30,3,0,.341
4,,Placido Polanco,16,142,587,105,200,36,3,9,67,37,30,7,3,.341
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,,Carlos Quentin,9,81,229,29,49,16,0,5,31,18,54,2,2,.214
315,316,Nick Punto,14,150,472,53,99,18,4,1,25,55,90,16,6,.210
316,317,Richie Sexson,12,121,434,58,89,21,0,21,63,51,100,1,0,.205
317,318,David Ross,15,112,311,32,63,10,0,17,39,30,92,0,0,.203
318,319,Ryan Langerhans,11,125,210,27,35,7,2,6,23,29,81,3,1,.167

In [29]:
season2007_df.to_csv('scraped_data/2007_stats.csv', index=False, sep=',', encoding='utf-8')

In [30]:
final_df =pd.DataFrame(columns=final_df.columns)
for i in range(1,500,50):

    url = "https://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2006/start/{}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')

    players = soup.find_all('tr', attrs={'class':re.compile('row player-10-')})
    for player in players:

        stats = [stat.get_text() for stat in player.find_all('td')]

        temp_df = pd.DataFrame(stats).transpose()
        temp_df.columns = columns

        final_df = pd.concat([final_df, temp_df], ignore_index=True)

season2006_df = final_df
season2006_df

,,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,1,Joe Mauer,15,140,521,86,181,36,4,13,84,79,54,8,3,.347
1,2,Freddy Sanchez,10,157,582,85,200,53,2,6,85,31,52,3,2,.344
2,3,Derek Jeter,20,154,623,118,214,39,3,14,97,69,102,34,5,.343
3,4,Robinson Cano,15,122,482,62,165,41,1,15,78,18,54,5,2,.342
4,5,Miguel Cabrera,17,158,576,112,195,50,2,26,114,86,108,9,6,.339
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,,Reggie Abercrombie,3,111,255,39,54,12,2,5,24,18,78,6,5,.212
323,324,Abraham Nunez,12,123,322,42,68,10,2,2,32,41,58,1,0,.211
324,325,John Mabry,14,107,210,16,43,8,1,5,25,23,57,0,0,.205
325,326,Jason Lane,7,112,288,44,58,10,0,15,45,49,75,1,2,.201
326,327,Mark Bellhorn,18,115,253,26,48,11,2,8,27,32,90,0,0,.190

In [31]:
season2006_df.to_csv('scraped_data/2006_stats.csv', index=False, sep=',', encoding='utf-8')

In [32]:
final_df =pd.DataFrame(columns=final_df.columns)
for i in range(1,500,50):

    url = "https://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2005/start/{}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')

    players = soup.find_all('tr', attrs={'class':re.compile('row player-10-')})
    for player in players:

        stats = [stat.get_text() for stat in player.find_all('td')]

        temp_df = pd.DataFrame(stats).transpose()
        temp_df.columns = columns

        final_df = pd.concat([final_df, temp_df], ignore_index=True)

season2005_df = final_df
season2005_df

,,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,1,Kenny Lofton,17,110,367,67,123,15,5,2,36,32,41,22,3,.335
1,,Derrek Lee,15,158,594,120,199,50,3,46,107,85,109,15,3,.335
2,3,Placido Polanco,16,129,501,84,166,27,2,9,56,33,25,4,3,.331
3,,Michael Young,14,159,668,114,221,40,5,24,91,58,91,5,2,.331
4,5,Albert Pujols,19,161,591,129,195,38,2,41,117,97,65,16,2,.330
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,324,Corey Patterson,12,126,451,47,97,15,3,13,34,23,118,15,5,.215
324,325,Dustan Mohr,7,98,266,34,57,10,3,17,38,23,94,1,2,.214
325,326,Mark Bellhorn,18,94,300,43,63,20,0,8,30,52,112,3,0,.210
326,327,David Newhan,8,96,218,31,44,9,0,5,21,22,45,9,2,.202
327,,Chris Snyder,10,115,326,24,66,14,0,6,28,40,87,0,1,.202

In [33]:
season2005_df.to_csv('scraped_data/2005_stats.csv', index=False, sep=',', encoding='utf-8')

In [34]:
final_df =pd.DataFrame(columns=final_df.columns)
for i in range(1,500,50):

    url = "https://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2004/start/{}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')

    players = soup.find_all('tr', attrs={'class':re.compile('row player-10-')})
    for player in players:

        stats = [stat.get_text() for stat in player.find_all('td')]

        temp_df = pd.DataFrame(stats).transpose()
        temp_df.columns = columns

        final_df = pd.concat([final_df, temp_df], ignore_index=True)

season2004_df = final_df
season2004_df

,,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,1,Ichiro Suzuki,19,161,704,101,262,24,5,8,60,49,63,36,11,.372
1,2,Barry Bonds,22,147,373,129,135,27,3,45,101,232,41,6,1,.362
2,3,Todd Helton,17,154,547,115,190,49,2,32,96,127,72,3,0,.347
3,4,Melvin Mora,13,140,550,111,187,41,0,27,104,66,95,11,6,.340
4,5,Vladimir Guerrero,16,156,612,124,206,39,2,39,126,52,74,15,3,.337
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316,317,Jason Giambi,20,80,264,33,55,9,0,12,40,47,62,0,1,.208
317,,Chad Moeller,11,101,317,25,66,13,1,5,27,21,74,0,1,.208
318,319,Henry Blanco,16,114,315,36,65,19,1,10,37,21,56,0,3,.206
319,320,Robert Fick,10,89,226,14,45,5,2,6,26,22,36,0,0,.199
320,321,Joe Borchard,6,63,201,26,35,4,1,9,20,19,57,1,0,.174

In [35]:
season2004_df.to_csv('scraped_data/2004_stats.csv', index=False, sep=',', encoding='utf-8')

In [36]:
final_df =pd.DataFrame(columns=final_df.columns)
for i in range(1,500,50):
    url = "https://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2003/start/{}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')

    players = soup.find_all('tr', attrs={'class':re.compile('row player-10-')})
    for player in players:

        stats = [stat.get_text() for stat in player.find_all('td')]

        temp_df = pd.DataFrame(stats).transpose()
        temp_df.columns = columns

        final_df = pd.concat([final_df, temp_df], ignore_index=True)

season2003_df = final_df
season2003_df

,,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,1,Albert Pujols,19,157,591,137,212,51,1,43,124,79,65,5,1,.359
1,2,Todd Helton,17,160,583,135,209,49,5,33,117,111,72,0,4,.358
2,3,Carlos Baerga,14,105,207,31,71,13,0,4,39,18,20,1,1,.343
3,4,Barry Bonds,22,130,390,111,133,22,1,45,90,148,58,7,0,.341
4,5,Gary Sheffield,22,155,576,126,190,37,2,39,132,86,55,18,4,.330
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,,Brandon Phillips,17,112,370,36,77,18,1,6,33,14,77,4,5,.208
322,323,Jeff Cirillo,14,87,258,24,53,11,0,2,23,24,32,1,1,.205
323,324,Brandon Inge,13,104,330,32,67,15,3,8,30,24,79,4,4,.203
324,325,David Bell,12,85,297,32,58,14,0,4,37,41,40,0,0,.195
325,326,Jermaine Dye,14,65,221,28,38,6,0,4,20,25,42,1,0,.172

In [37]:
season2003_df.to_csv('scraped_data/2003_stats.csv', index=False, sep=',', encoding='utf-8')

In [38]:
final_df =pd.DataFrame(columns=final_df.columns)
for i in range(1,500,50):

    url = "https://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2002/start/{}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')

    players = soup.find_all('tr', attrs={'class':re.compile('row player-10-')})
    for player in players:

        stats = [stat.get_text() for stat in player.find_all('td')]

        temp_df = pd.DataFrame(stats).transpose()
        temp_df.columns = columns

        final_df = pd.concat([final_df, temp_df], ignore_index=True)

season2002_df = final_df
season2002_df

,,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,1,Barry Bonds,22,143,403,117,149,31,2,46,110,198,47,9,2,.370
1,2,Manny Ramirez,19,120,436,84,152,31,0,33,107,73,85,0,0,.349
2,3,Mike Sweeney,16,126,471,81,160,31,1,24,86,61,46,9,7,.340
3,4,Larry Walker,18,136,477,95,161,40,4,26,104,65,73,6,5,.338
4,5,Vladimir Guerrero,16,161,614,106,206,37,2,39,111,84,70,40,20,.336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,324,Lee Stevens,10,116,358,50,73,13,2,15,57,54,89,1,0,.204
324,,Henry Blanco,16,81,221,17,45,9,1,6,22,20,51,0,2,.204
325,326,Brandon Inge,13,95,321,27,65,15,3,7,24,24,101,1,3,.202
326,327,Craig Paquette,11,72,252,20,49,14,1,4,20,10,53,1,0,.194
327,328,Greg Vaughn,15,69,251,28,41,10,2,8,29,41,82,3,2,.163

In [39]:
season2002_df.to_csv('scraped_data/2002_stats.csv', index=False, sep=',', encoding='utf-8')

In [40]:
final_df =pd.DataFrame(columns=final_df.columns)
for i in range(1,500,50):

    url = "https://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2001/start/{}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')

    players = soup.find_all('tr', attrs={'class':re.compile('row player-10-')})
    for player in players:

        stats = [stat.get_text() for stat in player.find_all('td')]

        temp_df = pd.DataFrame(stats).transpose()
        temp_df.columns = columns

        final_df = pd.concat([final_df, temp_df], ignore_index=True)

season2001_df = final_df
season2001_df

,,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,1,Larry Walker,18,142,497,107,174,35,3,38,123,82,103,14,5,.350
1,,Ichiro Suzuki,19,157,692,127,242,34,8,8,69,30,53,56,14,.350
2,3,Jason Giambi,20,154,520,109,178,47,2,38,120,129,83,2,0,.342
3,4,Roberto Alomar,17,157,575,113,193,34,12,20,100,80,71,30,6,.336
4,,Todd Helton,17,159,587,132,197,54,2,49,146,98,104,7,5,.336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,316,Brook Fordyce,10,95,292,30,61,18,0,5,19,21,56,1,2,.209
316,317,Brady Anderson,15,131,430,50,87,12,3,8,45,60,77,12,4,.202
317,318,Gerald Williams,14,100,279,42,56,18,0,4,19,18,55,13,5,.201
318,319,Todd Hundley,14,79,246,23,46,10,0,12,31,25,89,0,0,.187
319,,Mark McGwire,16,97,299,48,56,4,0,29,64,56,118,0,0,.187

In [41]:
season2001_df.to_csv('scraped_data/2001_stats.csv', index=False, sep=',', encoding='utf-8')

In [42]:
final_df =pd.DataFrame(columns=final_df.columns)
for i in range(1,500,50):

    url = "https://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2000/start/{}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')

    players = soup.find_all('tr', attrs={'class':re.compile('row player-10-')})
    for player in players:

        stats = [stat.get_text() for stat in player.find_all('td')]

        temp_df = pd.DataFrame(stats).transpose()
        temp_df.columns = columns

        final_df = pd.concat([final_df, temp_df], ignore_index=True)

season2000_df = final_df
season2000_df

,,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,1,Nomar Garciaparra,14,140,529,104,197,51,3,21,96,61,50,5,2,.372
1,,Todd Helton,17,160,580,138,216,59,2,42,147,103,61,5,3,.372
2,3,Moises Alou,17,126,454,82,161,28,2,30,114,52,45,3,3,.355
3,,Darin Erstad,14,157,676,121,240,39,6,25,100,64,82,28,8,.355
4,5,Manny Ramirez,19,118,439,92,154,34,2,38,122,86,117,1,1,.351
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,,Michael Barrett,12,89,271,28,58,15,1,1,22,23,35,0,1,.214
326,327,Ruben Rivera,9,135,423,62,88,18,6,17,57,44,137,8,4,.208
327,328,Tim Bogar,9,110,304,32,63,9,2,7,33,35,56,1,1,.207
328,329,Willie Greene,9,105,299,34,60,15,2,10,37,36,69,4,0,.201
329,330,Alex Gonzalez,16,109,385,35,77,17,4,7,42,13,77,7,1,.200

In [43]:
season2000_df.to_csv('scraped_data/2000_stats.csv', index=False, sep=',', encoding='utf-8')